<!DOCTYPE html>
<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body class="body" layout:fragment="content">
   <div class="modal fade" id="deleteType" role="dialog" th:fragment="deleteTypeBtn">
      <div class="modal-dialog" id="requestBox" style="margin-right: auto;margin-top: 300px;">
         <div class="modal-content" >
            <div class="modal-body">
					<div th:if="${enabledelete == false}">
						<h4>You cannot delete this type since some concepts are using this type.</h4>
						<h4>Delete all existing concepts that use this type to enable delete.</h4>
					</div>
					<div th:if="${enabledelete == true || enabledelete == null}">
	            	   	<h4 style="text-align: center;">Are you sure you want to delete?</h4>
	            	   	<a th:href="@{'/auth/concepttype/deleteconcepttypeconfirm/'+${typeid}}">
							<input type="submit" value="Delete" class="btn btn-primary deleteBtn" id="deleteBtn" />
						</a>
                   	</div>
            </div>   
         </div>
      </div>
   </div>
</body>
</html>