<!DOCTYPE html>
<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <div class="modal fade" id="deleteButton" role="dialog" th:fragment="deleteButton">
      <div class="modal-dialog" id="requestBox">
         <div class="modal-content" >
            <div class="modal-body">
            	<div>
                   <button class="btn btn-outline-success my-2 my-sm-0 signInBtn" name="submit" value="Login" type="submit" id="modalSignInBtn" >
                       Delete
                   </button>
                </div>
            </div>   
         </div>
      </div>
   </div>
</html>