<!DOCTYPE html>
<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <div class="modal" tabindex="-1" id="invalidRequestModal" role="dialog" th:fragment="invalidRequest">
      <div class="modal-dialog" role="document">
         <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-body">
               <div class="form-field">
               	Please create the wrapper for the concept before raising a review request
               </div>
               <div style="text-align:center">
               	<button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn"  data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</html>