<!DOCTYPE html>
<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body class="body" layout:fragment="content">
   <div class="modal fade" id="synonyms" role="dialog" th:fragment="synonyms">
      <div class="modal-dialog" id="requestBox" style="margin-right: auto;margin-top: 300px;">
         <div class="modal-content" >
            <div class="modal-body">
            	<form>
					<div>
                   	</div>
                </form>
            </div>   
         </div>
      </div>
   </div>
</body>
</html>