<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
	<head>
	  <link type="text/css" rel="stylesheet" th:href="@{/resources/css/waitMe.css}">
	  <script th:src="@{/resources/js/waitMe.js}"></script>
	  <script>
	  $(document).ready(function() {
		    var lastRun = $('#lastRun').val();
		    setDateTime(lastRun);
		});
	
		function setDateTime(lastRun) {
		    $("#luceneTable tr td:last-child").html(lastRun);
		};
	
		$(function() {
		    var current_effect = $('#waitMe_ex_effect').val();
		    var token = $("meta[name='_csrf_token']").attr("content");
		    $('#waitMe_Delete')
		        .click(
		            function() {
		                run_waitMe(current_effect);
		                return $
		                    .ajax({
		                        url: "/conceptpower/auth/index/delete?_csrf=" + token.trim(),
		                        type: "POST",
		                        timeout: 3600000,
		                        success: function(
		                            result) {
		                            setIndexValues(result);
		                        },
		                        error: function(result) {
		                            var output = "<font color=\"red\">" +
		                                result.message +
		                                "</font>";
		                            $("#div1").html(output);
		                            waitMeClose();
		                        }
		                    });
		            });
	
		    $('#waitMe_ex')
		        .click(
		            function index() {
		                run_waitMe(current_effect);
		                $.ajax({
		                    url: "/conceptpower/auth/index/start?_csrf=" + token.trim(),
		                    type: "POST",
		                    success: function(
		                        result) {
		                        // Poll here
		                        checkIndexerStatus();
		                    },
		                    error: function(result) {
		                        var responseText = JSON
		                            .parse(result.responseText);
		                        var output = "<font color=\"red\">" +
		                            responseText.message +
		                            "</font>";
		                        $("#div1").html(output);
		                        waitMeClose();
		                    }
		                });
		            });
	
		    function checkIndexerStatus() {
		        $.ajax({
		            url: "/conceptpower/auth/index/status?_csrf=" + token.trim(),
		            type: "POST",
		            success: function(result, status,
		                jqXHR) {
		                // Poll here
		                if (jqXHR.status == 202) {
		                    setTimeout(checkIndexerStatus,
		                        5000);
		                } else {
		                    setIndexValues(result);
		                    waitMeClose();
		                }
		            }
		        });
		    }
	
		    function waitMeClose() {
		        $('.conceptType > form').waitMe('hide');
		    }
	
		    function run_waitMe(effect) {
	
		        $('.conceptType > form').waitMe({
		            effect: effect,
		            text: 'Please wait...',
		            bg: 'rgba(255,255,255,0.7)',
		            color: '#000',
		            maxSize: '',
		            source: 'img.svg',
		            onClose: function() {}
		        });
		    }
	
		    function setIndexValues(result) {
		        var output = "<center><b>" + result.message +
		            " </b> </center>";
		        $("#indexResponse").html(output);
		        $('#indexCount').html(result.indexedWordsCount);
		        $('#lastRun-1').html(result.lastRun);
		        waitMeClose();
		    }
		});
	  </script>
	</head>
	<body class="body" layout:fragment="content">
	    <div class="conceptType">
	        <h3 class="title">Index Management</h3>
	        <form th:action="@{/auth/index/start}" method='post' id="indexLucene">
	            <div id="indexResponse" style="color:green;"></div>
	            <table id="luceneTable" class="table indexTable tableStyles">
	                <thead>
	                    <tr>
	                        <th>
	                            Total Indexed Concepts
	                        </th>
	                        <th>
	                            Last Run
	                        </th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td id="indexCount" th:text="${bean.indexedWordsCount}"></td>
	                        <td id="lastRun-1" th:text="${bean.lastRun}"></td>
	                    </tr>
	                </tbody>
	            </table>
	            <div class="btnCenter">
	                <button class="btn btn-outline-success my-2 my-sm-0 cancelTypeBtn" id="waitMe_Delete" type="button">
	                    Delete Index
	                </button>
	                <button class="btn btn-outline-success my-2 my-sm-0 cancelTypeBtn" type="button" id="waitMe_ex">
	                    Index Concepts
	                </button>
	                <input type="hidden" id="lastRun" th:value="${bean.lastRun}" />
	            </div>
	        </form>
	    </div>
	</body>
</html>