@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.conceptType {
	width: 50%;
	margin: 0px auto 100px auto;
}

.title {
	font-family: Nunito Sans;
	font-size: 44px;
	color: #333;
	text-align: center;
}

.form-group {
	display: flex;
	margin-top: 20px;
}

.formlabel {
	font-family: Nunito Sans;
	font-size: 22px;
	color: #333;
}

.conceptForm {
	border-collapse: separate;
	border-spacing: 25px;
	margin-top: 60px;
}

#addConceptTypeBtn {
	height: 44px;
	width: 300px;
	background-color: #4f3acc;
	color: white;
	border-radius: 30px;
}

.btnCenter {
	text-align: center;
}

#dropdownMenu1 {
    border-radius: 30px;
}

.headerSection {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.titleHeader{
	font-family:Nunito Sans;
	font-size: 28px;
	color: #333;
}

.subHeader {
	font-family:Nunito Sans;
	font-size: 18px;
	color: #333;
}

.showDrp {

    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: baseline;

}