@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.conceptType {
	width: 50%;
	margin: 0px auto 100px auto;
}

.btn:hover {
	color: white;
	-webkit-box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
}

.title {
	font-family: Nunito Sans;
	font-size: 44px;
	color: #333;
	text-align: center;
}

.form-group {
	display: flex;
	margin-top: 20px;
}

.formlabel {
	font-family: Nunito Sans;
	font-size: 22px;
	color: #333;
}

.conceptForm {
	border-collapse: separate;
	border-spacing: 25px;
	margin-top: 60px;
}

#addConceptTypeBtn {
	height: 44px;
	width: 300px;
	background-color: #4f3acc;
	color: white;
	border-radius: 30px;
}

#addConceptTypeBtn:hover {
	-webkit-box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
}

#cancelTypeBtn {
	height: 44px;
	width: 300px;
	background-color: transparent;
	border: 2px solid #4f3acc;
	color: #4f3acc;
	border-radius: 30px;
	margin-right: 30px;
}

#cancelTypeBtn:hover {
	background-color: #4f3acc;
	border: 2px solid #4f3acc;
	color: white;
	-webkit-box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
}

.btnCenter {
	text-align: center;
	margin-top: 45px;
}

#dropdownMenu1 {
    border-radius: 30px;
}

.headerSection {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.titleHeader{
	font-family:Nunito Sans;
	font-size: 28px;
	color: #333;
}

.subHeader {
	font-family:Nunito Sans;
	font-size: 18px;
	color: #333;
}

.showDrp {

    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: baseline;

}

.newConcept {
	width: 60%;
	margin: auto;
	display: block;
	font-family: Nunito Sans;
}

.btn-group.dropdown {
    margin-left: 30px;
}

.drpSpacing {
width:250px;
display: flex;
justify-content: space-between;
}

.termSpacing {
	display: flex;
	width: 400px;
	justify-content: space-between;
	
}

a {
	color: #4f3acc;
}

a:hover {
	color: #333;
}

.wordnet1 {
	margin-top: 45px;
}

label {
	display: inline-table;
	font-weight: 600;
	margin-bottom: 0;
	width: 300px;
	margin-right: 30px;
}

.row1-2 {
	width: 300px;
	justify-content: space-between;
	display: flex;
	margin-bottom: 25px;
}

.sectionHeading {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.row {
	display: flex;
	margin: 0px 0px 25px 0px;
}

.numeration {
	height: 45px;
	width: 45px;
	text-align: center;
	font-size: 25px;
	color:white;
	background-color: #4f3acc;
	border-radius: 50%;
	margin-right: 30px;
	line-height: 45px;
	font-weight: 700;
}