@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.navbar {
    padding: 15px 0px 15px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
    margin: 15px 0px 15px 0px;
}

.navbar-brand{
	padding: 0px !important;
}

.btn.signInBtn{
	border-radius: 30px;
	width: 115px;
	height: 44px;
	background-color: #4f3acc;
	color: white;
	padding: 0px 20px 0px 20px;
}

html,body{
	height: 100%;
  	margin: 0;
}

.modal-content{
	width: 300px;
	border-radius:30px;
	height: auto;
	font-weight: 400;
	font-size: 16px;
	padding: 15px;
}

.form-control{
	border-radius: 30px;
}

h3{
	margin-top:10px;
	margin-botton:5px;
	font-size:16px;
}

#modalFooter {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

}
.modal-dialog {

    width: 300px;
    margin: 90px 40px auto auto;

}

#forgotPwd {
    font-size: 14px;
}

.searchSection {
    padding: 15px 40px 20px 40px;
    align-content: stretch;
    justify-content: space-between;
}

.input-group-append {
    display: flex;
}

.input-group{
	display:flex;
	margin-top:30px;
}
.dropdown-item {	
    display: block;
    text-align: center;
	margin: 10px;
	cursor: pointer;
}

.btn#searchDropDown{
	border-radius: 0px 4px 4px 0px;
	height: 46px;
	width: 150px;
	background-color: transparent;
}

.dropdown-menu {
	left:auto;
	right:0;
}

#searchInput{
	border-radius: 30px !important;
	height: 36px;
	font-size: 16px;
}

#searchBtn {
    margin-top: 25px;
}

.footerBox {
	color: #4f3acc;
    width: 100%;
}

.footer {
   	margin: 15px 15px 15px 15px;
	padding: 0px 30px 0px 30px;
	display: flex;
	justify-content: space-between;
}	

.resultsSection {
    padding: 15px 40px 20px 40px;
}

thead{
	background-color:#4f3acc;
	color:white;
}

.tableStyles {
    -webkit-box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
}

.pagination {
	margin: 0px 20px 0px 20px;
	font-family: Nunito Sans;
}

.pagination>li>a {
	color: #4f3acc;
}

.pagination>li>a:hover {
	color: #4f3acc;
}

.pagination>.active>span {
	background-color: #4f3acc;
	border-color: transparent;
}

.pagination>.active>span:hover {
	background-color: #4f3acc;
	cursor: pointer;
}

table{
	width: 100%;
}

.btn:active, .btn.active {
    box-shadow: unset;
}

.wrapper {
	
  min-height: 100%;
  
  /* This is the same as the height of the footer */
  margin-bottom: -75px; 
}

.footerBox,.push {
  height: 75px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
}


.fa-user-circle-o {
    font-size: 48px !important;
    color: #4f3acc;
}

.conceptPowerBtn {
    margin: 15px 0px 15px 0px;
    background-color: #4f3acc;
    color: white;
    border-radius: 30px;
    height: 36px;
    padding: 0px 15px 0px 15px;
}

.cardLayout {
    -webkit-box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
    text-align: center;
    border-radius: 30px;
    width: 200px;
    padding: 15px;
}

.btn-primary {
	width: 100%;
	border-radius: 20px;
	margin: 5px 0px 5px 0px;
}

#editBtn {
	background-color: #4f3acc;
	border-color: transparent;
	color: white;
}

#editBtn:hover {
	background-color: #4f3acc;
	border-color: transparent;
	color: white;
	-webkit-box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
}

#deleteBtn {
	background-color: transparent;
	border: 2px solid #d54854;
	color: #d54854;
}

#deleteBtn:hover {
	background-color: #d54854;
	border: 2px solid #d54854;
	color: white;
	-webkit-box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
}

.fa-trash-o{
	color:	#d54854;
	cursor: pointer;
}


.signInBtn:hover {
	background-color: #4f3acc;
	-webkit-box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
	
}

.dropdown-menu {
	border: transparent;
	border-radius: 20px;
	overflow: auto;
	min-width: 125px;
}

.cardLayout.dropdown-menu {
	margin-left: 25px;
    right: unset;
}

#conceptDetailsModal .modal-content, #conceptDetailsModal .modal-body{
	padding: unset;	
}

#conceptDetailsModal .modal-content{
	width:40%;
	overflow:auto;
	margin: auto;
	margin-top: 200px;
}

.list-group-item-info {  
    color: #333 !important;
	background-color: #eee !important;
}

.list-group-item {
    margin-bottom: unset;
    border: unset;
    padding: 10px 25px 10px 25px;
    display:flex;
}

.conceptDetailsKey {
	width: 100px;
    margin-right: 50px;
    display: inline-table;
    text-align: right;
}

a {
	color: #4f3acc;
}

a:hover {
	color: #333;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.pagination>li>a, .pagination>li>span, .pagination>li>span:hover{
	color: #4f39cc;
}

#sortTag, #paginationTag{
	cursor: pointer;
}

.table.indexTable.tableStyles {
    margin-top: 40px;
}

.POS {
	-moz-appearance: none; 
	-webkit-appearance: none; 
	border: none;
	background: transparent;
	cursor: pointer;
	margin-right: 10px;
}

.synonymDialog > .modal-content{
    width: 800px;
    overflow-y: auto;
}
.synonymDialog{
	margin-top: 100px !important;
	margin-right: auto;
	margin-top: 300px;
	width: 800px;
}

.logoutBtn {
    border: none;
    background: 
    transparent;
    padding: 0px;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: 1.5px solid #4f3acc;
  border-radius: 30px;
  background-color: transparent;
}

.custom-dropdown:hover {
	background-color: #eee;
}

.custom-dropdown select {
  background-color: transparent;
  color: #333;
  font-size: 14px;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
  cursor: pointer;
}
/*Hiding the select arrow for IE10*/
.custom-dropdown select::-ms-expand {
    display: none;
    cursor: pointer;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
  cursor: pointer;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
  cursor: pointer;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.custom-dropdown::after {
  color: #4f3acc;	
  cursor: pointer;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.25);
  cursor: pointer;
}

