@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.navbar {
    padding: 15px 0px 15px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
    margin: 15px 0px 15px 0px;
}

.navbar-brand{
	padding: 0px !important;
}

.btn.signInBtn{
	border-radius: 30px;
	width: 115px;
	height: 44px;
	background-color: #4f3acc;
	color: white;
	padding: 0px 20px 0px 20px;
}

body{
	font-family:
}

.modal-content{
	width: 300px;
	border-radius:30px;
	height: auto;
	font-weight: 400;
	font-size: 16px;
	padding: 15px;
}

.form-control{
	border-radius: 30px;
}

h3{
	margin-top:10px;
	margin-botton:5px;
	font-size:16px;
}

#modalFooter {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

}

#forgotPwd {
    font-size: 14px;
}

.searchSection {
    padding: 15px 40px 50px 40px;
    align-content: stretch;
    justify-content: space-between;
}

.input-group-append {
    display: flex;
}

.input-group{
	display:flex;
	margin-top:30px;
}
.dropdown-item {	
    display: block;
    text-align: center;
	margin: 10px;
	cursor: pointer;
}

.btn#searchDropDown{
	border-radius: 0px 4px 4px 0px;
	height: 46px;
	width: 150px;
	background-color: transparent;
}

.dropdown-menu {
	left:auto;
	right:0;
}

#searchInput{
	border-radius: 30px !important;
}

#searchBtn {
    margin-top: 25px;
}

.footerBox {
	color: #4f3acc;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer {
   	margin: 15px 15px 15px 15px;
	padding: 0px 30px 0px 30px;
	display: flex;
	justify-content: space-between;
}	

.resultsSection{
    padding: 15px 40px 50px 40px;
}

thead{
	background-color:#4f3acc;
	color:white;
}