#reviewError{
	display:none;
}

#reviewModal .modal-dialog, #requestModal .modal-dialog, #reopenModal .modal-dialog, #invalidRequestModal .modal-dialog{
	width:500px;
	margin: 15% auto;
}

.fa{
	cursor:pointer;
	color:#a34e62;
}