<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <head>
   	<meta name="_csrf_token" th:content="${_csrf.token}"/>
	<meta name="_csrf_parameterName" th:content="${_csrf.parameterName}"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script th:src="@{/resources/js/bootstrap.min.js}" type="text/javascript" ></script>
      <link th:href="@{/resources/assets/css/bootstrap.min.css}" rel="stylesheet" />
      <link th:href="@{/resources/assets/css/homepage.css}" rel="stylesheet" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script>
      		$(document).ready(hideFormProcessing);
	        function hideFormProcessing() {
	          $('#floatingCirclesG').hide();
	        }
	        function showFormProcessing() {
	          $('#floatingCirclesG').show();
	        }
	
	        //Function to handle pagination
	    	function paginate(page, sortDir, sortColumn, word, pos) {
	    	    var conceptIdsToMerge = null; //$('#conceptIdsToMerge').val().replace("\"", "");
	    	    var paginationElement = document.getElementById("paginationSection")
	    	    if (conceptIdsToMerge) {
	    	        window.location = 'conceptsearch?page=' + page + '&sortDir=' + paginationElement.getAttribute('data-sortdir') + '&sortColumn=' + paginationElement.getAttribute('data-searchcolumn') +
	    	            '&word=' + paginationElement.getAttribute('data-searchword') + '&pos=' + paginationElement.getAttribute('data-searchpos') + '&conceptIdsToMerge=' + conceptIdsToMerge;
	    	    } else {
	    	        window.location = 'conceptsearch?page=' + page + '&sortDir=' + paginationElement.getAttribute('data-sortdir') + '&sortColumn=' + paginationElement.getAttribute('data-searchcolumn') +
	    	            '&word=' + paginationElement.getAttribute('data-searchword') + '&pos=' + paginationElement.getAttribute('data-searchpos');
	    	    }
	
	    	}
			
	        //Function to populate concept details Modal
	    	$(document).ready(function() {
	    		$(document).on('click','#conceptDetails', function(e){
	    			var conceptid = $(this).data('conceptid');
	    			
	    			$.ajax({
    					type : "GET",
    					url : "/conceptpower/conceptDetail",
    					data : {
    						conceptid : conceptid
    					},
    					success : function(details) {
    						details = $.parseJSON(details);	    						
    						var token = $("meta[name='_csrf_token']").attr("content");
    						
    						//Ajax Call to plugin a pre populated Concepet Details Modal
    						$.ajax({
    	    					type : "POST",
    	    					url : "/conceptpower/conceptdetails?_csrf="+token.trim(),
    	    					data : JSON.stringify(details),
    	    					contentType:"application/json",
    	    					success : function(data) {
    	    						$('#conceptDetailsPlugin').html(data);
    	    						$('#conceptDetailsModal').modal('show');
    	    					}
    						});
    						
    						if(details.mergedIds) {
    							$.ajax({
    								url: '${pageContext.servletContext.contextPath}/rest/OriginalConcepts',
    				                type: 'GET',
    				                headers: {          
    				                    Accept: "application/json",         
    				                },
    				                data: {
    				                  ids: details.mergedIds
    				                },
    				              })
    				              .msuccess(function(originalConcepts) {
    				                var mergedIdsHtml = '';
    				                $.each(originalConcepts.conceptEntries, function (index, conceptEntry) {
    				                    if(mergedIdsHtml) {
    				                      mergedIdsHtml += ", ";
    				                    }
    				                    mergedIdsHtml += '<span title =  "Id: '+ conceptEntry.id +', Word: '+ conceptEntry.lemma + ', Description: ' + conceptEntry.description + '">';
    				                    mergedIdsHtml += "<i>" + conceptEntry.id  + "</i>";
    				                    mergedIdsHtml += "</span>";
    				                });
    				                $("#detailsmergedIds").html(mergedIdsHtml);  
    				              });              
    				        }
    					}
	    			});
	    		});
	    		
	    		$(document).on('hidden.bs.modal', '#conceptDetailsModal',function(event) {
	    			$('#conceptDetailsPlugin').empty();
	    		});
	    	    
	    	    $('#posList div div').on('click', function() {
	    	        $('#posWord').text($(this).text());
	    	    });
	
	    	    function validate() {
	    	        var username = document.getElementById("username").value;
	    	        var password = document.getElementById("password").value;
	    	        var navbar = document.getElementById("rightNavSection");
	    	        var btn = document.getElementById("signInBtn");
	    	        navbar.style.display = none;
	    	        if (username == "admin" && password == "admin") {
	    	            alert("Login successfully");
	    	            btn.style.display = none;
	    	            navbar.style.display = contents;
	    	            return false;
	    	        } else {
	    	            attempt--; // Decrementing by one.
	    	            alert("You have left " + attempt + " attempt;");
	    	            // Disabling fields after 3 attempts.
	    	            if (attempt == 0) {
	    	                document.getElementById("username").disabled = true;
	    	                document.getElementById("password").disabled = true;
	    	                document.getElementById("submit").disabled = true;
	    	                return false;
	    	            }
	    	        }
	    	    }
	    	});
      </script>
   </head>
   <body class = "body">
      <main class="wrapper">
         <div th:insert="layouts/navbar :: navbar('false')"></div>
         <form th:action="@{/home/conceptsearch}" th:object="${conceptSearchBean}" method="get" class="searchSection">
            <h1>Welcome to Conceptpower</h1>
            <div class="input-group input-group-lg">
               <input type="text" class="form-control" id="searchInput" name="word" placeholder="Type in noun, verb, adjective, adverb...." aria-label="Text input with dropdown button">
 
               <div class="input-group-append">
                  <button class="btn btn-outline-secondary dropdown-toggle" id="searchDropDown" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                  <span id="posWord"  th:text="Noun" th:value="Noun"></span>&nbsp;<i class="fa fa-caret-down" aria-hidden="true">
                  </i>
                  </button>
                  <div id="posList" class="dropdown-menu">
                     <div th:each="entry: ${conceptSearchBean.posMap}">
                        <div th:text="${entry.value}" th:value="${entry.value}" class="dropdown-item"></div>
                     </div>
                  </div>
               </div>
               
                <select th:name="pos">
				    <option th:each="entry: ${conceptSearchBean.posMap}" th:value="${entry.key}" th:text="${entry.value}">
				    </option>
				 </select>
            </div>
            <div class="error" id="searchAlert"></div>
            
            <button class="btn btn-outline-success my-2 my-sm-0 signInBtn" id="searchBtn" type="submit">
            	Search
            	<i class="fa fa-search" aria-hidden="true"></i>
            </button>
         </form>
      
         <div th:if="${conceptSearchBean.foundConcepts != null}" class="resultsSection">
            <h4>Results</h4>
            <button class="btn btn-outline-success my-2 my-sm-0 mergeConceptBtn" >
            Select Concepts To merge
            </button>
            <table class="table table-striped resultTable tableStyles" >
               <thead>
                  <tr>
                     <th scope="col"></th>
                     <th scope="col">Term</th>
                     <th scope="col">Id</th>
                     <th scope="col">WordNet ID</th>
                     <th scope="col">POS</th>
                     <th scope="col">Concept List</th>
                     <th scope="col">Description</th>
                     <th scope="col">Type</th>
                     <th style="width:120px;" scope="col">Review Status</th>
                  </tr>
               </thead>
               <tbody id="tableData">
				<tr th:each="concept: ${conceptSearchBean.foundConcepts}">
				   <td>
				      <div class="dropdown">
				         <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-pencil-square-o dropright" aria-hidden="true"></i></a>
				         <div class="cardLayout dropdown-menu" role="menu">
				            <div class="card-body">
				               <a th:href="@{'/auth/conceptlist/editconcept/'+${concept.entry.id}+'?fromHomeScreen=true'}" class="btn btn-primary" id="editBtn">Edit Item</a>
				               
				               <a href="#" class="btn btn-primary deleteBtn" id="deleteBtn">Delete</a>
				            </div>
				         </div>
				      </div>
				   </td>
				   <td data-toggle="modal" role="button" data-target="#conceptDetailsModal" id="conceptDetails" th:data-conceptid="${concept.entry.id}" th:text="${concept.entry.word}"></td>
				   <td th:text="${concept.entry.id}"></td>
				   <td th:text="${concept.entry.wordnetId}"> </td>
				   <td th:text="${concept.entry.pos}"></td>
				   <td th:text="${concept.entry.conceptList}"></td>
				   <td th:text="${concept.description}"></td>
				   <td th:text="${concept.type}"></td>
				   <td><i class="fa fa-comment" aria-hidden="true"></i></td>
				</tr>
               </tbody>
            </table>
         </div>
         <div class="pagination" id="paginationSection" th:if="${conceptSearchBean.foundConcepts != null}" th:data-sortdir="${sortDir}" th:data-sortColumn="${sortColumn}"
         th:data-searchword="${conceptSearchBean.word}" th:data-searchpos="${conceptSearchBean.pos}">
            <ul class="pagination">
               <li class="page-item" th:classappend="${page == 1} ? disabled : '' ">
                  <span class="page-link" th:onclick="'paginate(' + ${page - 1} + ','+ ${page - 1} + ','+${page - 1} + ','	+${page - 1}+ ','+${page - 1}+');'" >Previous</span>
               </li>
               <li th:each="i: ${#numbers.sequence(1, count)}" th:class="page-item" th:classappend="${page == i} ? active: '' ">
               		<span class="page-link" th:onclick="'paginate('+${i}+');'" th:text="${i}">
               		 <span class="sr-only">(current)</span></span>
               		
               </li>
              
               <li class="page-item" th:classappend="${page == count} ? disabled : '' ">
                  <a class="page-link" th:onclick="'paginate(' + ${page + 1} + ','+ ${page - 1} + ','+${page - 1} + ','	+${page - 1}+ ','+${page - 1}+');'">Next</a>
               </li>
            </ul>
         </div>
         <div class='push'></div>
      </main>
      <div th:insert="~{layouts/footer}"></div>
      <div id="conceptDetailsPlugin"></div>
      <div th:insert="layouts/modals/signin :: signin"></div>
      
      <div sec:authentication="name">
  		The value of the "name" property of the authentication object should appear here.
	</div>

<div sec:authorize="isAuthenticated()">
	Display here
</div>
   </body>
</html>