<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <body class="body" layout:fragment="content">
         <div class="conceptPowerWrapper">
            <h3 class="title">Change Password</h3>
            <form
				th:action="@{/auth/profile/password/change}"
				th:object="${passwordBean}" method='post'>
	            <table class="conceptPowerForm changePassword">
	               <tbody>
	                  <tr>
	                     <td style="width:40px;">
	                        <label for="oldPassword" class="formlabel">Old Password</label>
	                     </td>
	                     <td>
	                        <input type="password" class="form-control" name="oldPassword" placeholder="Enter Old Password....">
	                        <div class="formErrorAlert" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></div>
	                     </td>
	                  </tr>
	                  <tr>
	                     <td style="width:40px;">
	                        <label for="password" class="formlabel">New Password</label>
	                     </td>
	                     <td>
	                        <input type="password" class="form-control" name="password" placeholder="Enter new Password....">
	                        <div class="formErrorAlert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
	                     </td>
	                  </tr>
	                  <tr>
	                     <td style="width:172px;">
	                        <label for="passwordRepeat" class="formlabel">Re-type Password</label>
	                     </td>
	                     <td>
	                        <input type="password" class="form-control" name="passwordRepeat" placeholder="Re-type Password....">
	                        <div class="formErrorAlert" th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}"></div>
	                     </td>
	                  </tr>
	               </tbody>
	            </table>
	            <div class="btnCenter">
	               <button class="btn btn-outline-success my-2 my-sm-0 submitFormBtn" type="submit">
	               		Change Password
	               </button>
	            </div>
            </form>
         </div>
   </body>
</html>