<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
	<body layout:fragment="content">
		<div class="conceptPowerWrapper">
            <h3 class="title">Encrypt Password</h3>
            <p th:if="${isEncrypted == false }">Are you sure you want to encrypt the password for user "<span style="color:#4f3acc;"th:text="${userfullname}"></span>" ? This cannot be undone.</p>
            <form th:action="@{/auth/user/encryptpassword}" method='post'>
			<input type="hidden" name="username" value="${username}">
			<div th:if="${isEncrypted == false }">
				<button type="submit" class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn">Encrypt</button>
			</div>
			<div th:if="${isEncrypted != false}">
				Password is already encrypted for the user "<span style="color:#4f3acc;"th:text="${userfullname}"></span>".
			</div>
	
			<a th:href="@{/auth/user/list}">Cancel</a>
	       </form>
	   </div>
	</body>
</html>