<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	
	<http auto-config="true" use-expressions="true">
		<access-denied-handler error-page="/forbidden" />
		
		<form-login login-page="/login" default-target-url="/login"
			authentication-failure-url="/loginfailed" />
		<form-login login-page="/welcome" default-target-url="/login"
			authentication-failure-url="/loginfailed" />
			
		<intercept-url pattern="/welcome*" access="permitAll" />
		<intercept-url pattern="/login*" access="permitAll" />
		<intercept-url pattern="/logout*" access="permitAll" />

		<intercept-url pattern="/resources/**" access="permitAll" />
		
		<!-- here go admin pages -->
		<intercept-url pattern="/auth/user/**" access="hasRole('ROLE_CP_ADMIN')" />
		<!-- <intercept-url pattern="/rest/concept/add" access="isAuthenticated()" />  -->
		
		<intercept-url pattern="/auth/**" access="isAuthenticated()" />
		
		
		
		<logout logout-success-url="/logout" invalidate-session="true" />
	</http>
	
	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<beans:bean id="authProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userService" />
		<beans:property name="passwordEncoder" ref="encoder" />
	</beans:bean>

	<authentication-manager alias="authenticationManager"
		erase-credentials="false">
		<authentication-provider>
			<user-service>
				<user name="${admin.user}" password="${admin.pw}"
					authorities="ROLE_CP_ADMIN" />
			</user-service>
		</authentication-provider>
		<authentication-provider ref="authProvider"></authentication-provider>
	</authentication-manager>


</beans:beans>