<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	 <http auto-config="true" use-expressions="true">
		<access-denied-handler error-page="/forbidden" />
		<csrf request-matcher-ref="csrfRequestMatcher" />
		
		<form-login login-page="/" />
		<logout
		  logout-success-url="/"
		  logout-url="/signout" delete-cookies="JSESSIONID" />
		  
		<intercept-url pattern="/conceptpower/rest/concept/add" access="isAuthenticated()" />

		<intercept-url pattern="/auth/user/**" access="hasRole('ROLE_CP_ADMIN')" />
		<intercept-url pattern="/auth/index/**" access="hasRole('ROLE_CP_ADMIN')" />
		<intercept-url pattern="/auth/conceptlist/**" access="isAuthenticated()" />
		<intercept-url pattern="/auth/concepttype/**" access="isAuthenticated()" />	
		
		<intercept-url pattern="/auth/**" access="isAuthenticated()" />
		    
		<intercept-url pattern="/**" access="permitAll" />

	</http>
	
	<beans:bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" /> 

	<beans:bean id="csrfRequestMatcher" class="edu.asu.conceptpower.app.config.CsrfSecurityRequestMatcher" />
	
	<beans:bean id="mvcHandlerMappingIntrospector" class="org.springframework.web.servlet.handler.HandlerMappingIntrospector" />

	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />


	<beans:bean id="authProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userService" />
		<beans:property name="passwordEncoder" ref="encoder" />
	</beans:bean>
	
	<beans:bean id="noopPasswordEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder" />

	<authentication-manager alias="authenticationManager"
		erase-credentials="false">
		<authentication-provider>
			<user-service id="userDetailsService" properties="classpath:/user.properties" />
			<password-encoder ref="noopPasswordEncoder"></password-encoder>
		</authentication-provider>
		<authentication-provider ref="authProvider"></authentication-provider>
	</authentication-manager>


</beans:beans>