<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <body class = "body" layout:fragment="content">
      <div style="text-align: center; position: sticky; top: 40%;">
         <i class="fa far fa-window-close" style="font-size: 128px; margin-bottom: 35px; color: #A34D63;" aria-type="hidden"></i>
         <h2 style="font-family: Nunito Sans;">Sorry, but something went wrong on our side!</h2>
         <p style="font-family: Nunito Sans; font-size: 18px;">We are working to get it fixed as quickly as possible.</p>
      </div>
   </body>
</html>