<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <head>
	   	<script>
	   		$(document).on('click', '#startMigration', function(e){
	   			$.ajax({
	   				url:"[[@{'/auth/migrate/startmigration'}]]",
	   				type:'GET',
	   				success:function(response){
	   					
	   				}
	   			});
	   		})
	   	</script>
   </head>
   <body class="body" layout:fragment="content">
   		<div class="migrationSection" style="padding-left:3%;">
			<div>Migrate Data</div>
			<button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" 
				id="startMigration" type="submit" th:classappend="${isRunning == false} ? '' : disabled ">
		        Start Migration
	        </button>
	       <div class="migrationAlert" th:if="${isRunning == true}">Migration is running</div>
		<div class="migrationAlert" th:if="${isRunning == false}">Migration is completed at <span th:text="${migrationDone}">Time</span></div>
	</div>
   </body>
</html>