<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <head>
	   	<script>
	   		$(document).on('click', '#startMigration', function(e){
	   			
	   			$.ajax({
	   				url:"[@{'/auth/migrate/startmigration'}]]"
	   				type:'GET'
	   				success:function(response){
	   					console.log("Someting returned  -->", response);
	   				}
	   			});
	   		})
	   	</script>
   </head>
   <body class="body" layout:fragment="content">
   		<div class="migrationSection" style="padding-left:3%;">
			<div>Migrate Data</div>
			<button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" id="startMigration"type="submit">
		        Start Migration
	       </button>
       </div>
   </body>
</html>