<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <body class="body" layout:fragment="content">
         <div class="conceptType">
            <h3 class="title">Add a new Concept List.</h3>
            <table class="conceptForm">
               <tbody>
                  <tr>
                     <td style="width:40px;">
                        <label for="exampleFormControlInput1" class="formlabel">List name</label>
                     </td>
                     <td>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter List name....">
                     </td>
                  </tr>
                  <tr>
                     <td style="width:172px;">
                        <label for="exampleFormControlTextarea1" class="formlabel">List description</label>
                     </td>
                     <td>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter List description...."></textarea>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div class="btnCenter">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="addConceptTypeBtn">
               Create List
               </button>
            </div>
         </div>
   </body>
</html>