<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >

<body class="body" layout:fragment="content">
		<table class='table table-striped table-hover table-sm table-bordered' style="width: auto !important;">
	        <tr>
	            <td>
	                <b>Word</b>
	            </td>
	            <td>
	                <div th:text="${entry.word}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>Description</b>
	            </td>
	            <td>
	                <div th:text="${entry.description}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>POS</b>
	            </td>
	            <td>
	                <div th:text="${entry.pos}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>Concept List</b>
	            </td>
	            <td>
	                <div th:text="${entry.conceptList}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>WordnetId</b>
	            </td>
	            <td>
	                <div th:text="${entry.wordnetId}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>Synonym Ids</b>
	            </td>
	            <td>
	                <div th:text="${entry.synonymIds}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>Alternative Ids</b>
	            </td>
	            <td>
	                <div th:each="alternativeId: ${entry.alternativeIds}">
	                	<p th:text="${alternativeId}"></p>
	                </div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>URI</b>
	            </td>
	            <td>
	                <div th:text="${uri}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>Creator</b>
	            </td>
	            <td>
	                <div th:text="${entry.creatorId}"></div>
	            </td>
	        </tr>
	    </table>

</body>    
</html>