<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <body class="body" layout:fragment="content">
         <div class="conceptPowerWrapper">
            <h3 class="title">Add a new Concept List</h3>
            <form
				th:action="@{/auth/concepts/createconceptlist}"
				th:object="${conceptListAddForm}" method='post'>
	            <table class="conceptPowerForm">
	               <tbody>
	                  <tr>
	                     <td style="width:40px; vertical-align:top;">
	                        <label for="listName" class="formlabel">List name</label>
	                     </td>
	                     <td>
	                        <input type="text" class="form-control" th:field="*{listName}" placeholder="Enter List name....">
	                        <div class="formErrorAlert" th:if="${#fields.hasErrors('listName')}" th:errors="*{listName}"></div>
	                     </td>
	                  </tr>
	                  <tr>
	                     <td style="width:172px; vertical-align:top;">
	                        <label for="description" class="formlabel">List description</label>
	                     </td>
	                     <td>
	                        <textarea class="form-control" th:field="*{description}" placeholder="Enter List description...."></textarea>
	                        <div class="formErrorAlert" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
	                     </td>
	                  </tr>
	               </tbody>
	            </table>
	            <div class="btnCenter">
	               <button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" type="submit">
	               		Create List
	               </button>
	            </div>
            </form>
         </div>
   </body>
</html>