<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <head>
      <script>
         $(function() {
             $(document).ready(function() {
                 var term = $('#term').val();
                 if (term != '') {
                     var synonymDescription = $('#synonymDescription').val();
                     var id = $('#synonymId').val();
                     var termArray = term.split(',,');
                     var synonymDescriptionArray = synonymDescription.split(',,');
                     var idArray = id.split(',,');
                     for (var i = 0; i < termArray.length; i++) {
                         if (idArray[i] != '') {
                             synonymAdd(idArray[i], termArray[i], synonymDescriptionArray[i], 'true');
                         }
                     }
                 }
             });
             $("#synonymModal").dialog({
                 autoOpen : false
             });
         });
         $(function() {
             $("#addsynonym").click(function() {
                 var addedSynonymsTable = $('#addedSynonyms');
                 $('#synonymstable').dataTable().fnClearTable();
                 $("#synonymModal").dialog('open');
                 $("#synonymsDialogTable").show();
             });
             $("#name").on(
                     "change paste",
                     function() {
                         $.ajax({
                             type : "GET",
                             url : "[[@{'/getExistingConcepts'}]]",
                             data : {
                                 conceptname : $(this).val()
                             },
                             success : function(response) {
                                 var data = jQuery.parseJSON(response);
                                 if (data.length > 0) {
                                     var text = "Following concepts have the same name : \n";
                                     var len = data.length;
                                     for (var i = 0; i < len; i++) {
                                         text += (data[i].word + " - " + data[i].description + "\n");
                                     }
                                     $("#warning").show();
                                     $('#warning').prop('title', text);
                                 } else {
                                     $("#warning").hide();
                                     $('#warning').prop('title', '');
                                 }
                             },
         
                             error : function(httpStatus, response) {
                                 if (httpStatus.status == 409) {
                                     var errorMessage = "<i class=\"fa fa-exclamation-triangle\">"
                                             + httpStatus.responseText + "</i>";
                                     $("#synonymModal").dialog("close");
                                     $('#synonymModal').modal('toggle');
                                     $('#errorMessage').show();
                                     $('#error_alert_msg').html(errorMessage);
                                 }
                             }
                         });
                     });
         });
         $(document).ready(definedatatable);
         function definedatatable() {
             $('#synonymstable').dataTable(
                     {
                         "bJQueryUI" : true,
                         "sPaginationType" : "full_numbers",
                         "bAutoWidth" : false,
                         "bStateSave" : true,
                         "aoColumns" : [ {
                             "sTitle" : "Term",
                             "mDataProp" : "word",
                         }, {
                             "sTitle" : "POS",
                             "mDataProp" : "pos",
                         }, {
                             "sTitle" : "Description",
                             "mDataProp" : "description",
                         }, {
                             "sTitle" : "Add",
                             "mDataProp" : "id"
                         } ],
                         "fnRowCallback" : function(nRow, aData, iDisplayIndex) {
                             var description = aData.description;
                             description = description != null ? description.replace(/"/g, '&quot;')
                                     : "";
                             $('td:eq(3)', nRow).html(
                                     '<a onclick="synonymAdd(\'' + aData.id + '\',\'' + aData.word
                                             + '\',\'' + description + '\')">Add</a>');
                             return nRow;
                         }
                     });
         };
         $(function() {
             $("#synonymsearch").click(
                     function() {
                         $("#synonymViewDiv").show();
                         $("#synonymstable").show();
                         var addedsynonym = $('#addedSynonnym').val();
                         var synonymname = $("#synonymname").val();
                         $.ajax({
                             type : "GET",
                             url : "[[@{'/conceptAddSynonymView'}]]",
                             data : {
                                 synonymname : synonymname,
                                 addedsynonym : addedsynonym
                             },
                             success : function(response) {
                                 var data = jQuery.parseJSON(response);
                                 $('#synonymstable').dataTable().fnClearTable();
                                 $('#synonymstable').dataTable().fnAddData(data);
                             },
                             error : function(httpStatus, response) {
                                 if (httpStatus.status == 409) {
                                     var errorMessage = "<i class=\"fa fa-exclamation-triangle\">"
                                             + httpStatus.responseText + "</i>";
                                     $("#synonymModal").dialog("close");
                                     $('#synonymModal').modal('toggle');
                                     $('#errorMessage').show();
                                     $('#error_alert_msg').html(errorMessage);
                                 }
                             }
                         });
                     });
         });
         var synonymAdd = function(id, term, description, onLoad) {
             if (typeof onLoad === "undefined") {
                 onLoad = false;
             }
             if (onLoad == false) {
                 $("#dialog").dialog("close");
                 $("#synonymModal").dialog("close");
                 $('#synonymModal').modal('toggle');
                 $("#synonymsDialogTable").hide();
             }
             var x = document.getElementById('addedSynonymsTable');
             var addedsynonym = $('#addedSynonnym').val();
             if (x != null) {
                 var new_row = x.rows[0].cloneNode(true);
                 new_row.cells[0].innerHTML = '<a onclick="synonymRemove(\'' + x.rows.length
                         + '\')">Remove</a>' + '</font></td>'
                 new_row.cells[1].innerHTML = term;
                 new_row.cells[2].innerHTML = description;
                 new_row.cells[3].innerHTML = id;
                 new_row.cells[3].hidden = true;
                 if (onLoad == false) {
                     var t = $('#term').val();
                     t = t + ",," + term;
                     $('#term').val(t);
                     var d = $('#synonymDescription').val();
                     d = d + ",," + description;
                     $('#synonymDescription').val(d);
                     var i = $('#synonymId').val();
                     i = i + ",," + id;
                     $('#synonymId').val(i);
                 }
                 x.appendChild(new_row);
                 addedsynonym += ','
                 addedsynonym += id;
                 $('#addedSynonnym').val(addedsynonym);
             } else {
                 var html = '<table border="1" width="400" id="addedSynonymsTable"><thead></thead>';
                 html += '<tr><td align="justify"><font size="2">'
                         + '<a onclick="synonymRemove(\'0\')">Remove</a>' + '</font></td>';
                 html += '<td align="justify"><font size="2">' + term + '</font></td>';
                 html += '<td align="justify"><font size="2">' + description + '</font></td>';
                 html += '<td align="justify" hidden="true">' + id + '</td></tr>';
                 html += '</table>';
                 html += '<input type="hidden" name="syns" />';
                 addedsynonym += id;
                 if (onLoad == false) {
                     $('#term').val(term);
                     $('#synonymDescription').val(description);
                     $('#synonymId').val(id);
                 }
                 $('#addedSynonnym').val(addedsynonym);
                 $("#addedSynonyms").html(html);
             }
             var synonyms = " ";
             var table = document.getElementById('addedSynonymsTable');
             for (var r = 0, n = table.rows.length; r < n; r++) {
                 synonyms += table.rows[r].cells[3].innerHTML + ',';
             }
             $("#synonymsids").val(synonyms);
         };
         var synonymRemove = function(row) {
             bindingRemoval(row);
             $('#addedSynonnym').val('');
             var x = document.getElementById('addedSynonymsTable');
             x.deleteRow(row);
             if (!(x.rows.length > 0))
                 x.parentNode.removeChild(x);
             var synonyms = " ";
             var table = document.getElementById('addedSynonymsTable');
             for (var r = 0, n = table.rows.length; r < n; r++) {
                 synonyms += table.rows[r].cells[3].innerHTML + ',';
             }
             $("#synonymsids").val(synonyms);
             $('#addedSynonnym').val(synonyms);
         };
         var bindingRemoval = function(row) {
             var ids = $('#synonymId').val();
             var idArray = ids.split(',,');
             var newIdArray = '';
             for (var i = 0; i < idArray.length; i++) {
                 if (i != row) {
                     newIdArray = newIdArray + idArray[i];
                     newIdArray = newIdArray + ',,';
                 }
             }
             $('#synonymId').val(newIdArray);
             var synonymDescriptions = $('#synonymDescription').val();
             var synonymDescriptionArray = synonymDescriptions.split(',,');
             var newSynonymArray = '';
             for (var i = 0; i < synonymDescriptionArray.length; i++) {
                 if (i != row) {
                     newSynonymArray = newSynonymArray + synonymDescriptionArray[i];
                     newSynonymArray = newSynonymArray + ',,';
                 }
             }
             $('#synonymDescription').val(newSynonymArray);
             var terms = $('#term').val();
             var termArray = terms.split(',,');
             var newTermArray = '';
             for (var i = 0; i < termArray.length; i++) {
                 if (i != row) {
                     newTermArray = newTermArray + termArray[i];
                     newTermArray = newTermArray + ',,';
                 }
             }
             $('#term').val(newTermArray);
         }
         //service 
         $(function() {
             $("#serviceSearch").click(function() {
                 getTermDetails();
             });
         });
         
         function getTermDetails() {
             var serviceterm = $("#serviceterm").val();
             // Added validation for search term
             if(!serviceterm.trim()) {
                 $("#serviceTermError").html('Term cannot be empty.');
                 return false;
             } else {
                 $("#serviceTermError").html('');
                 showLoadingIcon();
             }
             var serviceid = $("#selectedServiceNameIdMap").val();
             $.ajax({
                 type : "GET",
                 url : "[[@{'/serviceSearch'}]]",
                 data : {
                     serviceterm : serviceterm,
                     serviceid : serviceid
                 },
                 success : function(response) {
                     if (response.length > 0 && response != "[]") {
                         var data = jQuery.parseJSON(response);
                         $('#serviceResultTable').dataTable().fnClearTable();
                         $('#serviceResultTable').dataTable().fnAddData(data);
                         $('#showServiceResult').show();
                         $('#serviceResultTable').show();
                         $('#serviceResult').show();
                     } else {
                         $('#serviceResultTable').dataTable().fnClearTable();
                         $('#serviceResultTable').parents('div.dataTables_wrapper').first().hide();
                         $('#showServiceResult').hide();
                         $("#serviceTermError").html('No results found.');
                     }
                     hideLoadingIcon();
                 },
                 error : function(response) {
                     $('#serviceResultTable').dataTable().fnClearTable();
                     $('#serviceResultTable').parents('div.dataTables_wrapper').first().hide();
                     $('#showServiceResult').hide();
                     $("#serviceTermError").html('An error occurred. Please try again later.');
                 }
             });
         }
         
         $(document).ready(defineServicedatatable);
         function defineServicedatatable() {
             $('#serviceResultTable').dataTable(
                     {
                         "bJQueryUI" : true,
                         "sPaginationType" : "full_numbers",
                         "bAutoWidth" : false,
                         "aoColumns" : [ {
                             "sTitle" : "Select",
                             "mData" : "isChecked",
                         }, {
                             "sTitle" : "Word",
                             "mDataProp" : "word",
                         }, {
                             "sTitle" : "ID",
                             "mDataProp" : "id",
                         }, {
                             "sTitle" : "Description",
                             "mDataProp" : "description",
                         } ],
                         aoColumnDefs : [
                                 {
                                     "targets" : [ 0, 1 ],
                                     'bSortable' : false
                                 },
                                 {
                                     aTargets : [ 0 ],
                                     mRender : function(sourceData, dataType, fullData) {
                                         var check = '';
                                         if ($('#equals').val().indexOf(fullData.id) != -1) {
                                             check = 'checked=\'checked\'';
                                         }
                                         var word = encodeURI(fullData.word);
                                         return '<input type="checkbox" id="' + fullData.id + '" '
                                                 + check
                                                 + ' name="isChecked" onclick="serviceConceptAdd(\''
                                                 + fullData.id + '\',\'' + word.replace(/'/g, '%39')
                                                 + '\')"></input>';
                                     },
                                 } ],
                         "order" : [ [ 1, "desc" ] ]
                     });
         };
         var serviceConceptAdd = function(serviceConceptID, name) {
             var check = false;
             if (document.getElementById(serviceConceptID).checked) {
                 $('#equals').val(serviceConceptID);
                 document.getElementById("name").value = decodeURI(name);
                 check = true;
             } else if (!(document.getElementById(serviceConceptID).checked)) {
                 $('#equals').val('');
                 document.getElementById("name").value = '';
                 check = false;
             }
             var checkboxes = new Array();
             checkboxes = document.getElementsByTagName('input');
             for (var i = 0; i < checkboxes.length; i++) {
                 if (checkboxes[i].type == 'checkbox') {
                     checkboxes[i].checked = false;
                 }
             }
             if (check)
                 document.getElementById(serviceConceptID).checked = true;
             else
                 document.getElementById(serviceConceptID).checked = false;
         };
         
         $(document).ready(function() { 
             $('#createconceptform').submit(function(event) {
                 var ret = true;
                 if ($("#name").val() === "") {
                     $("#nameerror").html('Please enter a name for concept.');
                    hideFormProcessing();
                     ret = false;
                 } else {
                     $("#nameerror").html('');
                 }
                 if ($("#pos").val() === "") {
                     $("#poserror").html('Please select a pos.');
                   hideFormProcessing();
                     ret = false;
                 } else {
                     $("#poserror").html('');
                 }
                 if ($("#selectedList").val() === "") {
                     $("#listerror").html('Please select a concept list.');
                  hideFormProcessing();
                     ret = false;
                 } else {
                     $("#listerror").html('');
                 }
                 if ($("#selectedTypes").val() === "") {
                     $("#typeerror").html('Please select a concept type.');
                    hideFormProcessing();
                     ret = false;
                 } else {
                     $("#typeerror").html('');
                 }
                 return ret;
                 
             });    
         });
         
         function hideFormProcessing() {
          $('#loadingDiv').html('<span for="loadingDiv">Add Concept</span>');
         }
         function showFormProcessing() {
             $('#loadingDiv').html('<i id="loadingDiv" class="fa fa-circle-o-notch fa-spin" ></i><span for="loading"> Processing</span>');
         }
         
         
         $(document).ready(function() {
             $("#serviceterm").keydown(function(event) {
                 if (event.keyCode == 13) {
                     event.preventDefault();
                     return getTermDetails();
                 }
             });
         });
         
         function hideLoadingIcon() {
         	$('#loadingIcon').html('<span for="loading">Search</span>');
         }
         function showLoadingIcon() {
             $('#loadingIcon').html('<i id="loading" class="fa fa-circle-o-notch fa-spin" ></i><span for="loading"> Wait</span>');
         }
         
         $(document).ready(hideLoadingIcon());
         $(document).ready(hideFormProcessing);
      </script>
   </head>
   <body class="body" layout:fragment="content">
      <div class="newConcept">
         <h3 class="title">Add a new Concept</h3>
         <form
            th:action="@{/auth/conceptlist/addconcept/add}"
            th:object="${conceptAddBean}" method='post'
            id="createconceptform">
            <table class="conceptPowerForm">
               <tbody>
                  <tr>
                     <td>
                        <div class="drpSpacing">
                           <label for="selectedServiceNameIdMap" class="formlabel">Service</label>
                           <div class="custom-dropdown">
                              <select th:field="*{selectedServiceNameIdMap}" class="POS">
                                 <option th:each="serviceName: ${conceptAddBean.serviceNameIdMap}" th:value="${serviceName.key}" th:text="${serviceName.value}">
                                 </option>
                              </select>
                           </div>
                        </div>
                     </td>
                     <td>
                        <div class="termSpacing">
                           <div style="margin: 15px 0px 15px 0px;">
                              <label for="serviceterm" class="formlabel">Term</label>
                           </div>
                           <div style="margin: 15px 0px 15px 0px;">
                              <input type="text" class="form-control" name="serviceterm" id="serviceterm" placeholder="Enter term....">
                           </div>
                           <div>
                              <button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" id="serviceSearch" type="button">
                                 <div id="loadingIcon">Search</div>
                              </button>
                           </div>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div id="serviceResult"
               style="max-width: 1000px; padding: 15px;"
               hidden="true"
               >
               <table cellpadding="0" cellspacing="0"
                  class="table table-striped table-bordered"
                  id="serviceResultTable" hidden="true">
                  <tbody>
                  </tbody>
               </table>
            </div>
            <table class="conceptPowerForm" style="margin-top: 0px;">
               <tbody>
                  <tr>
                     <td style="width:172px;">
                        <label for="name" class="formlabel">Concept</label>
                     </td>
                     <td>
                        <input type="text" class="form-control" th:field="*{name}" placeholder="Enter concept....">
                        <div class="formErrorAlert" id="nameerror"></div>
                     </td>
                  </tr>
                  <tr>
                     <td class="drpSpacing" style="width:172px;">
                        <label for="pos" class="formlabel">POS</label>
                     </td>
                     <td>
                        <div class="custom-dropdown">
                           <select th:field="*{pos}" class="POS">
                              <option value="">Please select</option>
                              <option value="noun">Noun </option>
                              <option value="verb">Verb</option>
                              <option value="adverb">Adverb</option>
                              <option value="adjective">Adjective</option>
                              <option value="other">Other</option>
                           </select>
                        </div>
                        <div class="formErrorAlert" id="poserror"></div>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:172px;">
                        <label for="selectedList" class="formlabel">Concept List</label>
                     </td>
                     <td>
                        <div class="custom-dropdown" >
                           <select th:field="*{selectedList}" class="POS">
                              <option value="">Please select</option>
                              <option th:each="item: ${conceptAddBean.lists}" th:value="${item.key}" th:text="${item.value}">
                              </option>
                           </select>
                        </div>
                        <div class="formErrorAlert" id="listerror"></div>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:172px;">
                        <label for="description" class="formlabel">Description</label>
                     </td>
                     <td>
                        <textarea class="form-control" th:field="*{description}" rows="3" placeholder="Enter description...."></textarea>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:172px;">
                        <label for="synonym" class="formlabel">Synonyms</label>
                     </td>
                     <td>
                        <button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" id="addsynonym" name="synonym" type="button" data-toggle="modal" data-target="#synonyms">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Synonym	
                        </button>
                     </td>
                     <td>
                        <div id="addedSynonyms"></div>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:172px;">
                        <label for="selectedTypes" class="formlabel">Concept Type</label>
                     </td>
                     <td class="drpSpacing">
                        <div class="custom-dropdown">
                           <select th:field="*{selectedTypes}" class="POS">
                              <option value="">Please select</option>
                              <option th:each="type: ${conceptAddBean.types}" th:value="${type.key}" th:text="${type.value}">
                              </option>
                           </select>
                        </div>
                        <div class="formErrorAlert" id="typeerror"></div>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:300px;">
                        <label for="equals" class="formlabel">External Authority Service Links</label>
                     </td>
                     <td>
                        <textarea class="form-control" th:field="*{equals}" rows="3" placeholder="Enter links...."></textarea>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:300px;">
                        <label for="similar" class="formlabel">Links to other services</label>
                     </td>
                     <td>
                        <textarea class="form-control" th:field="*{similar}" rows="3" placeholder="Enter links..."></textarea>
                     </td>
                     <td>
                        <input type="hidden" th:field="*{synonymsids}"/>
                        <input type="hidden" th:field="*{term}"/>
                        <input type="hidden" th:field="*{synonymDescription}"/>
                        <input type="hidden" th:field="*{synonymId}"/>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div class="btnCenter">
               <button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" type="submit" th:onclick="'showFormProcessing()'" th:onsubmit="'hideFormProcessing()'">
                  <div id="loadingDiv">Add Concept</div>
               </button>
            </div>
         </form>
      </div>
      <div th:insert="layouts/modals/synonyms :: synonyms"></div>
   </body>
</html>