<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >

<body class="body" layout:fragment="content">
	<form th:object="${conceptAddBean}" th:action="@{/auth/conceptlist/addconcept/add}" method='post'
	         id="createconceptform">
		<table class='table table-striped table-hover table-sm table-bordered' style="width: auto !important;">
	        <tr>
	            <td>
	                <b>Word</b>
	            </td>
	            <td>
	                <div th:text="${conceptAddBean.name}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>Description</b>
	            </td>
	            <td>
	                <div th:text="${conceptAddBean.description}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>POS</b>
	            </td>
	            <td>
	                <div th:text="${conceptAddBean.pos}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>Concept List</b>
	            </td>
	            <td>
	                <div th:text="${conceptAddBean.selectedList}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>WordnetId</b>
	            </td>
	            <td>
	                <div th:text="${conceptAddBean.name}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>Synonym Ids</b>
	            </td>
	            <td>
	                <div th:text="${conceptAddBean.synonymId}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>Alternative Ids</b>
	            </td>
	            <td>
	                <div th:each="${entry.alternativeIds}" id="alternativeId" th:value="${alternativeId}">
	                </div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>URI</b>
	            </td>
	            <td>
	                <div th:text="${conceptAddBean.name}"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <b>Creator</b>
	            </td>
	            <td>
	                <div th:text="${conceptAddBean.name}"></div>
	            </td>
	        </tr>
	    </table>
    </form>
</body>    
</html>