<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <head>
      <script type="text/javascript">
         $(function() {
             $("#synonymModal").dialog({
                 autoOpen : false
             });
             $("#addsynonym").click(function() {
                 var addedSynonymsTable = $('#addedSynonyms');
                 $('#synonymstable').dataTable().fnClearTable();
                 $("#synonymModal").dialog('open');
                 $("#synonymsDialogTable").show();
             });
         });
         $(document).ready(function() {     
             oTable = $('#conceptSearch').dataTable({
                 "bJQueryUI" : true,
                 "sPaginationType" : "full_numbers",
                 "bAutoWidth" : false,
         
                 "aoColumnDefs" : [ {
                     "aTargets" : [ 6 ],
                     "sType" : "html",
                     "fnRender" : function(o, val) {
                         return $("<div/>").html(o.aData[6]).text();
                     }
                 } ],
         
                 //set row class to gradeX even if the row is selectable
                 "fnRowCallback" : function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                     if (aData[2] == aData[3]) {
                         $(nRow).removeClass('odd');
                         $(nRow).removeClass('even');
                         $(nRow).addClass('gradeX even');
                     } else {
                         $(nRow).removeClass('odd');
                         $(nRow).removeClass('even');
                         $(nRow).addClass('gradeX odd');
                     }
         
                     //alert($("#wrapperids").val());
                     var wrapperconcepts = $("#wrapperids").val().split(',');
                     var len = wrapperconcepts.length;
         
                     for (var i = 0; i < len; i++) {
                         if (aData[2] == wrapperconcepts[i].id)
                             $(nRow).addClass('row_selected');
                     }
         
                 }
             });
         
             var words = [];
             
             //ajax call to add the concept selected for wrappping
             $('body').delegate('#conceptSearch tbody tr', "click", function() {
                 var aData = oTable.fnGetData(this); // get datarow
                 if (null != aData) // null if we clicked on title row
                 {
                     var word = aData[0];
                     var conceptID = aData[1];
                     var wordnetID = aData[2];
                     var description = aData[5];
                     var wordField  =$('#'+conceptID).text();
                     if (conceptID === wordnetID) {
                         var wrapperids = '';
                         if (!$(this).hasClass('selected')) {
                             wrapperids = $("#wrapperids").val();
                             wrapperids += (conceptID + ',');
                             $("#wrapperids").val(wrapperids);
         
                             var html = '<div id="'+ wordnetID +'div">';
                             html += '<h5>' + word + ' [' + wordnetID + ']' + '</h5>';
                             html += '<p>' + description + '</p></div>';
         
                             $("#selectedconcepts").append(html);
                             
                             words.push(wordField);
                             if($('#word').val().length < wordField.length) {
                                 $('#word').val(wordField);
                             }
                             
                         } else {
                             wrapperids = $("#wrapperids").val();
                             wrapperids = wrapperids.replace(wordnetID + ',', '');
                             $("#wrapperids").val(wrapperids);
         
                             // remove the div element 
                             var x = document.getElementById(wordnetID + 'div');
                             x.parentNode.removeChild(x);
                             
                             var index = 0;
                             for (var i = 0; i < words.length; i++) {
                                 // Remove the word from array (words)
                                 if(words[i] == wordField) {
                                     index = i;
                                 }
                             }
                             words.splice(index, 1);
                             
                             // Set the correct word in word field.
                             var maxLength = 0;
                             var maxWord = '';
                             for(var i=0; i< words.length; i++) {
                                 if(words[i].length > maxLength) {
                                     maxLength = words[i].length;
                                     maxWord = words[i];
                                 }
                             }
                             $('#word').val(maxWord);         
                         }
         
                         var wrapperconcepts = wrapperids.split(',');
                         var len = wrapperconcepts.length;
         
                         if (len > 1)
                             $('#createwrapper').prop('disabled', false);
                         else
                             $('#createwrapper').prop('disabled', true);
         
                         $(this).toggleClass('selected');
                     }
                 }
         
             });
         
             $(document).on('click', '#conceptDetails', function(e) {
                 var conceptid = $(this).data('conceptid');
                 $.ajax({
                     type: "GET",
                     url: "[[@{'/conceptDetail'}]]",
                     data: {
                         conceptid: conceptid
                     },
                     success: function(details) {
                         details = $.parseJSON(details);
                         
                         $("#conceptDetailsName").text(details.name);
    					 $("#conceptDetailsId").text(details.id);
    					 $("#conceptDetailsUri").text(details.uri);
    					 $("#conceptDetailsWordnetId").text(details.wordnetid);
    					 $("#conceptDetailsPos").text(details.pos);
    					 $("#conceptDetailsList").text(details.conceptlist);
    					 $("#conceptDetailsType").text(details.type);
    					 $("#conceptDetailsEqualTo").text(details.equalto);
    					 $("#conceptDetailsSimilarTo").text(details.similarto);
    					 $("#conceptDetailsCreator").text(details.creator);
    					 $("#conceptDetailsDesc").html(details.description);
    					 $("#conceptDetailsMergedIds").html(details.mergedIds);
                         
                     }
                 });
             });
         });
         
         $(document).on('hidden.bs.modal', '#conceptDetail', function(event) {
             $('#conceptDetailsPlugin').empty();
         });
         
         $(document).ready(definedatatable);
         
         function definedatatable() {
             $('#synonymstable').dataTable(
                     {
                         "bJQueryUI" : true,
                         "sPaginationType" : "full_numbers",
                         "bAutoWidth" : false,
                         "bStateSave" : true,
                         "aoColumns" : [ {
                             "sTitle" : "Term",
                             "mDataProp" : "word",
                         }, {
                             "sTitle" : "POS",
                             "mDataProp" : "pos",
                         }, {
                             "sTitle" : "Description",
                             "mDataProp" : "description",
                         }, {
                             "sTitle" : "Add",
                             "mDataProp" : "id"
                         } ],
                         "fnRowCallback" : function(nRow, aData, iDisplayIndex) {
                             var description = aData.description;
                             description = description != null ? description.replace(/"/g, '&quot;')
                                     : "";
                             $('td:eq(3)', nRow).html(
                                     '<a onclick="synonymAdd(\'' + aData.id + '\',\'' + aData.word
                                             + '\',\'' + description + '\')">Add</a>');
                             return nRow;
                         }
                     });
         };
         
         $(function() {
             $("#synonymsearch").click(
                     function() {
                         $("#synonymViewDiv").show();
                         $("#synonymstable").show();
                         var addedsynonym = $('#addedSynonnym').val();
                         var synonymname = $("#synonymname").val();
                         $.ajax({
                             type : "GET",
                             url : "[[@{'/conceptAddSynonymView'}]]",
                             data : {
                                 synonymname : synonymname,
                                 addedsynonym : addedsynonym
                             },
         
                             success : function(response) {
                                 var data = jQuery.parseJSON(response);
                                 $('#synonymstable').dataTable().fnClearTable();
                                 $('#synonymstable').dataTable().fnAddData(data);
                             },
                             error : function(httpStatus, response) {
                                 if (httpStatus.status == 409) {
                                     var errorMessage = "<i class=\"fa fa-exclamation-triangle\">"
                                             + httpStatus.responseText + "</i>";
                                     $("#synonymModal").dialog("close");
                                     $('#synonymModal').modal('toggle');
                                     $('#errorMessage').show();
                                     $('#error_alert_msg').html(errorMessage);
                                 }
                             }
                         });
                     });
         });
         
         var synonymAdd = function(id, term, description) {
             $("#synonymModal").dialog("close");
             $('#synonymModal').modal('toggle');
             $("#synonymsDialogTable").hide();
             var decodedDescription = unescape(description);
             var x = document.getElementById('addedSynonymsTable');
             var addedsynonym = $('#addedSynonnym').val();
         
             if (x != null) {
                 var new_row = x.rows[0].cloneNode(true);
                 new_row.cells[0].innerHTML = '<a onclick="synonymRemove(\'' + x.rows.length
                         + '\')">Remove</a>' + '</font></td>'
                 new_row.cells[1].innerHTML = term;
                 new_row.cells[2].innerHTML = decodedDescription;
                 new_row.cells[3].innerHTML = id;
                 new_row.cells[3].hidden = true;
         
                 x.tBodies[0].appendChild(new_row);
         
                 addedsynonym += ','
                 addedsynonym += id;
                 $('#addedSynonnym').val(addedsynonym);
             } else {
                 var html = '<table border="1" width="400" id="addedSynonymsTable"><thead></thead>';
         
                 html += '<tr><td align="justify"><font size="2">' + '<a onclick="synonymRemove(\'' + 0
                         + '\')">Remove</a>' + '</font></td>';
                 html += '<td align="justify"><font size="2">' + term + '</font></td>';
                 html += '<td align="justify"><font size="2">' + decodedDescription + '</font></td>';
                 html += '<td align="justify" hidden="true">' + id + '</td></tr>';
         
                 html += '</table>';
                 addedsynonym += id;
                 $('#addedSynonnym').val(addedsynonym);
                 $("#addedSynonyms").html(html);
         
             }
         
             var synonyms = " ";
             var table = document.getElementById('addedSynonymsTable');
             for (var r = 0, n = table.rows.length; r < n; r++) {
                 synonyms += table.rows[r].cells[3].innerHTML + ',';
             }
             $("#synonymsids").val(synonyms);
         };
         
         var synonymRemove = function(row) {
             $('#addedSynonnym').val('');
             var x = document.getElementById('addedSynonymsTable');
             x.deleteRow(row);
             if (!(x.rows.length > 0))
                 x.parentNode.removeChild(x);
             var synonyms = " ";
             var table = document.getElementById('addedSynonymsTable');
             for (var r = 0, n = table.rows.length; r < n; r++) {
                 synonyms += table.rows[r].cells[3].innerHTML + ',';
             }
             $("#synonymsids").val(synonyms);
             $('#addedSynonnym').val(synonyms);
         };
         
         // This has been added to populate the selected wordnet ids
         $(window).on('load', function() {
             populateWordnetids();
         });
         
         var populateWordnetids = function() {
             var wrappers = $('#wrapperids').val();
             var len = wrappers.length;
         
             if (len > 1) {
                 var html = '';
                 $('#createwrapper').prop('disabled', false);
                 $.ajax({
                     headers: {          
                         Accept: "application/json",         
                     } ,
                     type : "GET",
                     url : "[[@{'/rest/Concepts'}]]",
                     data : {
                         ids : wrappers
                     },
                     success : function(details) {
                         $.each(details.conceptEntries, function (index, conceptEntry) {
         
                             html += '<div id="'+ conceptEntry.id +'div">';
                             
                             html += '<a data-toggle="modal" role="button" data-target="#conceptDetail" id="conceptDetails" data-conceptid="';
                             html += conceptEntry.id+'" >';
                             html += '<h5>' + conceptEntry.lemma + '</h5>';
                             html += "</a>";
                             
                             html += '<h5> [' + conceptEntry.id + ']' + '</h5>';
                             html += '<p>' + conceptEntry.description + '</p></div>';     
                         });
                         $("#selectedconcepts").append(html); 
                         $("#noConceptAlert").hide();
                     }
                 });
                 
             } else {
                 $('#createwrapper').prop('disabled', true);
             }
         
         }
      </script>
   </head>
   <body class="body" layout:fragment="content">
      <div class="newConcept addWrapper">
         <h2>Add a new WordNet concept wrapper</h2>
         <h4>Add a wrapper for concept in WordNet. Do that if you, for example, want to attach an<br/>"equals to" URI to a concept that already exists in WordNet.</h4>
          <form 
            th:action="@{'/auth/conceptlist/addconceptwrapper/conceptsearch'}" 
            method='post' id="createconceptform">
          <div class="wrapperSection">
               <div class="sectionHeading">
                  <h4 class="numeration">1</h4>
                  <label class="formlabel">Search for WordNet concept</label>
               </div>
               <div>
                  <div class="formElements row">
                     <label for="name" class="formlabel">Create wrapper for concept</label>
                     <input type="text" class="form-control" name="name" id="name" placeholder="Enter wrapper....">
                  </div>
                  <div class="row1-2">
                     <label for="pos" class="formlabel">POS</label>
                     <div class="formField">
                        <div class="custom-dropdown">
                           <select name="pos">
                              <option value="noun">Noun</option>
                              <option value="verb">Verb</option>
                              <option value="adverb">Adverb</option>
                              <option value="adjective">Adjective</option>
                              <option value="other">Other</option>
                           </select>
                        </div>
                        <button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" style="margin: 0;" type="submit">
                        Search
                        </button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="wrapperSection" >
               <div class="sectionHeading">
                  <h4 class="numeration">2</h4>
                  <label class="formlabel" style="width: 500px;">Select WordNet concept from search results</label>
               </div>
               <h4 th:if="${result!=null && result.size() > 0}">The following concepts were found.<br/>Remember! You can only create wrapper for concepts in WordNet.</h4>
               <div id="selectedconcepts"></div>
               <div th:if="${result!=null && result.size() > 0}">
                  <table class="table table-striped conceptSearch tableStyles" id="conceptSearch" style="border-bottom:unset">
                     <thead>
                        <tr>
                           <th scope="col">Term</th>
                           <th scope="col">ID</th>
                           <th scope="col">WordNet ID</th>
                           <th scope="col">POS</th>
                           <th scope="col">Concept List</th>
                           <th scope="col">Description</th>
                           <th scope="col">Type</th>
                           <th scope="col">Synonyms</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr th:each="concept : ${result}" title="${concept.uri}">
                           <td><a data-toggle="modal" role="button" data-target="#conceptDetail" id="conceptDetails" th:data-conceptid="${concept.entry.id}" th:text="${concept.entry.word}"></a></td>
                           <td th:text="${concept.entry.id}"></td>
                           <td th:text="${concept.entry.wordnetId}"></td>
                           <td th:text="${concept.entry.pos}"></td>
                           <td th:text="${concept.entry.conceptList}"></td>
                           <td th:text="${concept.description}"></td>
                           <td th:text="${concept.type != null} ? ${concept.type.typeName} :''"></td>
                           <td>
                              <div th:each="syn : ${concept.synonyms}">
                                 <div th:text="${syn.word}"></div>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div id="noConceptAlert" th:if="${result == null || result.size() <= 0}">No Concept to display</div>
            </div>
         </form>
         <form th:action="@{/auth/conceptlist/addconceptwrapper/add}" method='post' th:object="${conceptWrapperAddBean}">
          	<div class="wrapperSection">
               <div class="sectionHeading">
                  <h4 class="numeration">3</h4>
                  <label class="formlabel">Enter additional information</label>
               </div>    
            </div>
            <table class="conceptPowerForm">
              <tbody>
                 <tr>
                 	<td style="width: 172px; vertical-align:top;">
                 		<label  class="formlabel">Word</label>
                 	</td>
                 	<td>
                 		<input type="text" class="form-control" th:field="*{word}" placeholder="Word...">
                 	</td>
                </tr>
                <tr>
                	<td style="width: 172px; vertical-align:top;">
                		<label class="formlabel">Description</label>
                	</td>
                	<td>
                		<textarea class="form-control" rows="3" th:field="*{description}" placeholder="Enter description...." style="height:9em;"></textarea>
                	</td>
                </tr>
                <tr>
                	<td style="width: 172px; vertical-align:top;">
                		<label  class="formlabel">Synonyms</label>
                	</td>
                	<td>
                     	<button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" style="margin:0; vertical-align:top;" 
                        	id="addsynonym" data-toggle="modal" data-target="#synonyms"type="button" >
                     	<i class="fa fa-plus" aria-hidden="true"></i> Synonyms	
                     	</button>
                  		<div id="addedSynonyms"></div>
                	</td>
                </tr>
                <tr>
                	<td style="width: 172px; vertical-align:top;">
                		<label for="types" class="formlabel">Concept type</label>
                	</td>
                	<td>
                		<div class="custom-dropdown">
	                     <select class="POS" th:field="*{selectedType}" th:name="types">
	                        <option th:each="type: ${types}" 
	                           th:value="${type.key}" th:text="${type.value}">
	                        </option>
	                     </select>
                  		</div>
                	</td>
                </tr>
                <tr>
                	<td style="width: 172px; vertical-align:top;">
                		<label for="lists" class="formlabel">Concept list</label>
                	</td>
                	<td>
	               		<div class="formField">
	                     <div class="custom-dropdown">
	                        <select th:name="lists"  th:field="*{selectedConceptList}" class="POS">
	                           <option th:each="item: ${lists}" th:value="${item.key}" th:text="${item.value}">
	                           </option>
	                        </select>
	                     </div>
	                 	</div>
                	</td>
                </tr>
                <tr>
                	<td style="width: 172px; vertical-align:top;">
                		<label  class="formlabel">Equals</label>
                	</td>
                	<td>
                		<input th:field="*{equals}" id="equals" type="text" class="form-control" placeholder="Equals to....">
                	</td>
                </tr>
                <tr>
                	<td style="width: 172px; vertical-align:top;">
	                  <label class="formlabel">Similar to</label>
                	</td>
                	<td>
                	  <input th:field="*{similar}" id="similar" type="text" class="form-control" placeholder="Similar to...." >
                	</td>
                </tr>
              </tbody>
            </table>
            <input type="hidden" th:field="*{wrapperids}" id="wrapperids" />
            <input type="hidden" th:field="*{synonymids}" id="synonymids" />
            <div class="btnCenter">
               <button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" type="submit" id="createwrapper">
               Create WordNet concept wrapper
               </button>
            </div>
         </form> 
      </div>
      <div th:insert="layouts/modals/conceptdetails :: conceptdetails"></div>
      <div th:insert="layouts/modals/synonyms :: synonyms"></div>
   </body>
</html>