<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <body class="body" layout:fragment="content">
      <div class="newConcept">
         <h3 class="title">Add a new WordNet concept wrapper</h3>
         <h4 style="text-align: center; margin-top: 35px;">Add a wrapper for concept in WordNet. Do that if you, for example, want to attach an<br/>"equals to" URI to a concept that already exists in WordNet.</h4>
         <form 
			th:action="@{'/auth/conceptlist/addconceptwrapper/conceptsearch'}" 
			method='post' id="createconceptform">
         <div class="wordnet1">
            <div class="sectionHeading">
               <h4 class="numeration">1</h4>
               <label class="formlabel">Search for WordNet concept</label>
            </div>
            <div>
               <div class="formlabel row">
                  <label for="name" >Create wrapper for concept</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="Enter wrapper....">
               </div>
               <div class="row1-2">
                  <label for="pos" class="formlabel">POS</label>
                  <div class="custom-dropdown">
	                   <select name="pos">
		                    <option value="noun">Nouns</option>
		                    <option value="verb">Verb</option>
		                    <option value="adverb">Adverb</option>
		                    <option value="adjective">Adjective</option>
		                    <option value="other">Other</option>
	            		</select>
            		</div>
                  <button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" style="margin: 0;" type="submit">
                  Search
                  </button>
               </div>
            </div>
         </div>
         </form>
         
		<form th:action="@{/auth/conceptlist/addconceptwrapper/add}" method='post' th:object="${conceptWrapperAddBean}"> 
         <div class="wordnet1">
            <div class="sectionHeading">
               <h4 class="numeration">2</h4>
               <label class="formlabel" style="width: 500px;">Select WordNet concept from search results</label>
            </div>
            <h4 style="text-align: center; margin-top: 35px;">The following concepts were found.<br/>Remember! You can only create wrapper for concepts in WordNet.</h4>
            
            <div th:if="${result!=null && result.size() > 0}">
            <table class="table table-striped resultTable tableStyles" >
               <thead>
                  <tr>
                     <th></th>
                     <th scope="col">Term</th>
                     <th scope="col">ID</th>
                     <th scope="col">WordNet ID</th>
                     <th scope="col">POS</th>
                     <th scope="col">Concept List</th>
                     <th scope="col">Description</th>
                     <th scope="col">Type</th>
                     <th scope="col">Synonyms</th>
                  </tr>
               </thead>
               <tbody>
                  <tr th:each="concept : ${result}">
                     <td></td>
                     <td th:text="${concept.entry.word}"></td>
                     <td th:text="${concept.entry.id}"></td>
                     <td th:text="${concept.entry.wordnetId}"></td>
                     <td th:text="${concept.entry.pos}"></td>
                     <td th:text="${concept.entry.conceptList}"></td>
                     <td th:text="${concept.description}"></td>
                     <td th:text="${concept.type != null} ? ${concept.type.typeName} :''"></td>
                     <td>
                     	<div th:each="syn : ${concept.synonyms}">
                     		<div th:text="${syn.word}"></div>
                     	</div>
                     </td>
                  </tr>
               </tbody>
            </table>
                
            </div >
                 <table th:if=${conceptEditBean} class="table table-striped resultTable tableStyles">
		            <thead>
		               <tr>
		                  <th th:text="Concept"></th>
		                  <th th:text="WordnetId"></th>
		                  <th th:text="description"></th>
		               </tr>
		            </thead>
		            <tbody>
		               <tr th:each="conceptEntry: ${conceptEditBean}">
		                  <td th:text="${conceptEntry.word}"></td>
		                  <td th:text="${conceptEntry.wordnetIds}"></td>
		                  <td th:text="${conceptEntry.description}"></td>
		               </tr>
		            </tbody>
	         </table>
         	</div>
         <div class="wordnet1">
            <div class="sectionHeading">
               <h4 class="numeration">3</h4>
               <label class="formlabel">Enter additional information</label>
            </div>
            <div class="formlabel row">
               <label style="width:172px;">Word</label>
               <input type="text" class="form-control" id="exampleFormControlInput1" th:value="${conceptEditBean.word}">
            </div>
            <div class="formlabel row">
             <label for="exampleFormControlInput1" style="width:172px;">Concept list</label>
             <div class="custom-dropdown">
                <select th:name="selectedList" class="POS">
                   <option th:each="item: ${conceptEditBean.conceptList}" th:value="${item.id}" th:text="${item.conceptListName}">
                   </option>
                </select>
             </div>
          </div>
            <div class="formlabel row">
               <label style="width:172px;">Description</label>
               <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:text="${conceptEditBean.description}" placeholder="Enter description...."></textarea>
            </div>
            <!-- <div class="formlabel row">
               <label style="width:172px;">Synonyms</label>
               <button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" style="margin:0;" type="submit">
               <i class="fa fa-plus" aria-hidden="true"></i> Synonyms	
               </button>
            </div> -->
            <div class="formlabel row">
               <label for="exampleFormControlInput1" style="width:172px;">Concept type</label>
               <div class="custom-dropdown">
                  <select class="POS">
                     <option th:each="type: ${conceptEditBean.types}" th:value="${type.typeId}" th:text="${type.typeName}">
                     </option>
                  </select>
               </div>
            </div>
            <div class="formlabel row">
               <label style="width:172px;">Equals</label>
               <input type="text" class="form-control" id="exampleFormControlInput1" th:text="${conceptEditBean.equals}">
            </div>
            <div class="formlabel row">
               <label style="width:172px;">Similar to</label>
               <input type="text" class="form-control" id="exampleFormControlInput1" >
            </div>
         </div>
         <div class="btnCenter">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="addConceptTypeBtn">
            Create WordNet concept wrapper
            </button>
         </div>
         </form>
      </div>
   </body>
</html>