<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <head>
      <script>
         /*  	function paginate(page, sortDir, sortColumn, word, pos) {
             var paginationElement = document.getElementById("paginationSection");
             window.location = 'concepttype?page=' + page + '&sortDir=' + paginationElement.getAttribute('data-sortdir') + '&sortColumn=' + paginationElement.getAttribute('data-searchcolumn');
         } */
          	
          	$(document).on('click','#paginate', function(e){
          		console.log($(this).data());
          		window.location = 'concepttype?page=' + $(this).data().page + '&sortDir=' + $(this).data().sortdir + '&sortColumn=' + $(this).data().sortcolumn;
          	})
          
      </script>
   </head>
   <body class="body" layout:fragment="content">
      <div class="resultsSection">
         <div class="headerSection">
            <div style="display: block;">
               <h3 class="titleHeader">Concept types</h3>
               <h4 class="subHeader">See existing types below.</h4>
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0 mergeConceptBtn" >
            <i class="fa fa-plus" aria-hidden="true"></i> Add new type
            </button>
         </div>
         <div class="headerSection">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Search....." style="width: 200px;">
            <div class="btn-group showDrp">
               <label for="dropdown">Show </label>
               <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  1
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
                     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
                     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3</a></li>
                     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4</a></li>
                  </ul>
               </div>
               <label for="dropdown">entries </label>
            </div>
         </div>
         <table class="table table-striped resultTable tableStyles" >
            <thead>
               <tr>
                  <th scope="col"></th>
                  <th scope="col">Name</th>
                  <th scope="col">Type URI</th>
                  <th scope="col">Description</th>
                  <th scope="col">Super type</th>
                  <th scope="col">Matches</th>
                  <th scope="col">Created by</th>
                  <th scope="col">Modified</th>
               </tr>
            </thead>
            <tbody>
               <tr th:each="types : ${result}">
                  <td>
                     <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-pencil-square-o dropright" aria-hidden="true"></i></a>
                        <div class="cardLayout dropdown-menu" role="menu">
                           <div class="card-body">
                              <a href="#" class="btn btn-primary" id="editBtn">Edit Item</a>
                              <a href="#" class="btn btn-primary deleteBtn" id="deleteBtn">Delete</a>
                           </div>
                        </div>
                     </div>
                  </td>
                  <td th:text="${types.typeName}"></td>
                  <td th:text="${types.typeId}"></td>
                  <td th:text="${types.description}"></td>
                  <td th:text="${types.supertypeId}"></td>
                  <td th:text="${types.matches}"></td>
                  <td th:text="${types.creatorId}"></td>
                  <td th:text="${types.modified}"></td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="pagination">
         <ul class="pagination">
            <li class="page-item" th:classappend="${page == 0} ? disabled : '' ">
               <span class="page-link" th:data-sortDir="${sortDir}" th:data-sortColumn="${sortColumn}" th:data-page="${page - 1}" id="paginate" >Previous</span>
            </li>
            <li th:each="i: ${#numbers.sequence(0, count)}" th:class="page-item" th:classappend="${page == i+1} ? active: '' ">
               <span class="page-link" th:data-sortDir="${sortDir}" th:data-sortColumn="${sortColumn}" th:data-page="${i+1}" id="paginate" th:text="${i+1}">
               <span class="sr-only">(current)</span></span>
            </li>
            <li class="page-item" th:classappend="${page == count} ? disabled : '' ">
               <a class="page-link" th:data-sortDir="${sortDir}" th:data-sortColumn="${sortColumn}" th:data-page="${page + 1}" id="paginate">Next</a>
            </li>
         </ul>
      </div>
   </body>
</html>