<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <head>
      <script>
         $(document).ready(function() {
            $(document).on('click','#deleteBtn', function(e){
               var listId = $(this).data().listId;
               
         	    $.ajax({
         			type : "GET",
         			url : "[[@{'/auth/conceptlist/deletelist/'}]]"+listId,
         			contentType:"application/json",
         			success : function(data) {
          				$('#deleteModalPlugin').html(data);
         				$('#deleteList').modal('show');
         			}
           		 });
            });
           });
         
         $(document).on('hidden.bs.modal', '#deleteModalPlugin',function(event) {
         	$('#deleteModalPlugin').empty();
         });
           
      </script>
   </head>
   <body class="body" layout:fragment="content">
      <div class="resultsSection">
         <div class="headerSection">
            <div style="display: block;">
               <h3 class="titleHeader">Concept List</h3>
               <h4 class="subHeader">Here you will find all stored concept lists</h4>
            </div>
            <a th:href="@{/auth/conceptlist/addconceptlist}"><button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" >
            <i class="fa fa-plus" aria-hidden="true"></i> Add New Concept List
            </button></a>
         </div>
         <table class="table table-striped resultTable tableStyles" th:if="${result != null && result.size() > 0}" >
            <thead>
               <tr>
                  <th scope="col"></th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
               </tr>
            </thead>
            <tbody>
               <tr th:each="list : ${result}">
                  <td>
                     <a th:href="@{'/auth/conceptlist/editlist/'+${list.id}}"><i class="fa fa-pencil-square-o dropright" aria-hidden="true"></i></a>
                     <i class="fa fa-trash-o" id="deleteBtn" th:data-list-id="${list.id}" data-toggle="modal" data-target="#deleteList"  aria-hidden="true" ></i>
                  </td>
                  <td >
                     <font size="2"><a
                        style="text-decoration:none;"
                        th:href="@{'/auth/'+${list.conceptListName}+'/concepts'}" th:text="${list.conceptListName}"></a></font>
                  </td>
                  <td th:text="${list.description}"></td>
               </tr>
            </tbody>
         </table>
         <div th:if="${result == null ||  result.size() <= 0}">No Concept Lists to display</div>
      </div>
      <div id="deleteModalPlugin"></div>
   </body>
</html>