<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <head>
      <script>
         $(document).ready(function() { 
             $('#conceptMergeForm').submit(function(event) {
                 var ret = true;
                 if ($("#words").val() === "") {
                     $("#wordsError").html('Word cannot be empty');
                     ret = false;
                 } else {
                     $("#wordsError").html('');
                 }
                 if ($("#selectedPosValue").val() === "") {
                     $("#selectedPosError").html('Please select a pos.');
                     ret = false;
                 } else {
                     $("#selectedPosError").html('');
                 }
                 if ($("#selectedListName").val() === "") {
                     $("#selectedListNameError").html('Please select a concept list.');
                     ret = false;
                 } else {
                     $("#selectedListNameError").html('');
                 }
                 if ($("#selectedTypeId").val() === "") {
                     $("#selectedTypeIdError").html('Please select a concept type.');
                     ret = false;
                 } else {
                     $("#selectedTypeIdError").html('');
                 }
                 
                 if(ret == true) {
         			$("#descriptions").val($("#descriptionDiv").text().trim());
                 }
                 return ret;
             });    
         });
           
      </script>
   </head>
   <body class="body" layout:fragment="content">
      <div class="conceptPowerWrapper">
         
         <form
            th:action="@{/auth/concepts/merge}"
            th:object="${conceptsMergeBean}" method='post' accept-charset="UTF-8">
            <div th:if="${conceptsMergeBean.errorMessages != null && conceptsMergeBean.errorMessages.size() > 0}">
            	<div class="alert alert-warning alert-dismissable">
            		<p th:each="error : ${conceptsMergeBean.errorMessages}" th:text=${error.errorCode}></p>
            	</div>
            </div>
            <div class="formErrorAlert" th:if="${#fields.hasErrors('mergeIds')}" th:errors="*{mergeIds}"></div>
            <div th:field="*{mergeIds}"></div>
            <h3 class="title">Merge Concepts</h3>
         	<h5>The following concepts are being merged.</h5>
        	<table class="table table-striped resultTable tableStyles">
	            <thead>
	               <tr>
	                  <th th:text="Word"></th>
	                  <th th:text="Id"></th>
	               </tr>
	            </thead>
	            <tbody>
	               <tr th:each="conceptEntry: ${conceptEntries}">
	                  <td th:text="${conceptEntry.word}"></td>
	                  <td th:text="${conceptEntry.id}"></td>
	               </tr>
	            </tbody>
	        </table>
	        
	        <div th:if="${localConceptIds != null && localConceptIds.size() > 0}">
         		<div>Concept Id</div>
         		<div th:each="ids: ${localConceptIds}">
         			<input type="radio" th:field="*{selectedConceptId}" th:value="${ids}" th:text="${ids}" style="margin-right:1%"/>
         		</div>
         		<input type="radio" id="selectedConceptId" name="selectedConceptId" value="" style="margin-right:10px"/>
         		<label for="selectedConceptId" style="color:#333; font-weight:unset;">Generate new id</label>
         	</div>
         	<div th:if="${localConceptIds != null && localConceptIds.size() == 0}" style="color:green">
         		A new id will be generated for the merged concepts.
         	</div>
            <table class="conceptPowerForm">
               <tbody>
                  <tr>
                     <td style="width:40px; vertical-align:top;">
                        <label for="listName" class="formlabel">Concept</label>
                     </td>
                     <td>
                        <input type="text" class="form-control" name="word" th:value="${conceptsMergeBean.word}">
                        <div class="formErrorAlert" th:if="${#fields.hasErrors('word')}" th:errors="*{word}"></div>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:172px; vertical-align:top;">
                        <label for="selectedTypes" class="formlabel">POS</label>
                     </td>
                     <td class="drpSpacing">
                        <div class='custom-dropdown'>
                           <select name="selectedPosValue" class="POS">
                              <option th:each="type: ${posValues}" th:value="${type}" th:text="${type}">
                              </option>
                           </select>
                        </div>
                        <div class="formErrorAlert" th:if="${#fields.hasErrors('selectedPosValue')}" th:errors="*{selectedPosValue}"></div>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:172px; vertical-align:top;">
                        <label for="selectedListName" class="formlabel">Concept List</label>
                     </td>
                     <td class="drpSpacing">
                        <div class='custom-dropdown'>
                           <select name="selectedListName" class="POS">
                              <option th:each="item: ${conceptListValues}" th:value="${item}" th:text="${item}">
                              </option>
                           </select>
                        </div>
                        <div class="formErrorAlert" th:if="${#fields.hasErrors('selectedListName')}" th:errors="*{selectedListName}"></div>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:172px; vertical-align:top;">
                        <label for="description" class="formlabel">Description</label>
                     </td>
                     <td>
                        <div contenteditable="true" id="descriptionDiv" class="descriptionDiv form-control" style="height:unset;">
                           <div th:each="description: ${conceptsMergeBean.descriptions}">
                              <p th:value="${description}" th:text="${description}">
                              </p>
                           </div>
                        </div>
                        <input type="hidden" th:field="*{descriptions}"/>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:172px; vertical-align:top;">
                        <label for="selectedTypeId" class="formlabel">Concept Type</label>
                     </td>
                     <td class="drpSpacing">
                        <div class='custom-dropdown'>
                           <select name="selectedTypeId" class="POS">
                              <option th:each="item: ${types}" th:value="${item.typeName}" th:text="${item.typeName}">
                              </option>
                           </select>
                        </div>
                        <div class="formErrorAlert" th:if="${#fields.hasErrors('selectedTypeId')}" th:errors="*{selectedTypeId}"></div>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:172px; vertical-align:top;">
                        <label for="equalsValues" class="formlabel">Equals</label>
                     </td>
                     <td>
                        <div contenteditable="true" id="equalValuesDiv" class="equalValuesDiv form-control" style="height:unset;">
                           <div th:each="equal: ${conceptsMergeBean.equalsValues}">
                              <p th:value="${equal}" th:text="${equal}">
                              </p>
                           </div>
                        </div>
                        <input type="hidden" th:field="*{equalsValues}"/>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:172px; vertical-align:top;">
                        <label for="similarValues" class="formlabel">Similar</label>
                     </td>
                     <td>
                        <input class="form-control" name="similarValues" 
                           placeholder="Similar to..."
                           th:value="${conceptsMergeBean.similarValues.size() > 0 ? conceptsMergeBean.similarValues : ''}"></input>
                     </td>
                     <td>
                        <input type="hidden" th:field ="*{synonymsids}" />
                        <input type="hidden" th:field="*{mergeIds}" />
                        <input type="hidden" th:field="*{alternativeIds}"/>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div class="btnCenter">
               <a th:href="@{/home/conceptsearch}"><button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" type="button" >
               Cancel
               </button></a>
               <button class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" type="submit">
               Stored merged concept
               </button>
            </div>
         </form>
      </div>
   </body>
</html>