<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <head>
      <script th:src="@{/resources/assets/js/custom/reviewrequests.js}"></script>
      <link th:href="@{/resources/assets/css/reviewrequest.css}" rel="stylesheet" />
      <script>
      		$(document).on('click', '#paginationTag', function(e) {
    	  		var paginateData = $(this).data();
    	  		window.location = '/conceptpower/auth/request/all/open?page=' + paginateData.page
    		})

	    	$(document).on('click', '#resolveButton', function() {
	    	    var comment = $('#resolveComment').val().trim();
	    	    var conceptId = $("#conceptId").val();
	    	    var request = $("#request").val();
	    	    var reviewId = $('#reviewId').val();
	
	    	    if (comment == null || comment.length == 0) {
	    	        $('#resolveCommentError').text('Closing comment cannot be empty');
	    	        $('#resolveCommentError').show();
	    	    } else {
	    	        var comments = {
	    	            comment: comment
	    	        };
	    	        var token = $("meta[name='_csrf_token']").attr("content");
	    	        $.ajax({
	    	            type: "POST",
	    	            url: "[[@{'/auth/request/resolve/'}]]" + reviewId + "?_csrf=" + token,
	    	            data: JSON.stringify(comments),
	    	            contentType: "application/json",
	    	            success: function(response) {
	    	                window.location = "[[@{'/auth/request/all/open'}]]"
	    	            },
	    	            error: function(e) {
	    	                $('#resolveCommentError').text("Something went wrong. Unable to resolve the request");
	    	                $('#resolveCommentError').show();
	    	            }
	    	        });
	    	    }
	    	});
      </script>
   </head>
   <body class="body" layout:fragment="content">
	   <div class="resultsSection">
	      <h3 class="titleHeader">Open Review Requests</h3>
	      <div class="error" th:if="${show_error_alert == true}" th:text="${error_alert_msg}"></div>
	      <div th:if="${(openRequests == null || openRequests.size() == 0) && show_error_alert == null}">
	         There are no open review requests
	      </div>
	      <table th:if="${openRequests != null && openRequests.size() != 0}" 
	         class="table table-striped conceptSearch tableStyles" id="conceptSearch" style="border-bottom:unset">
	         <thead>
	            <tr>
	               <th scope="col">Term</th>
	               <th scope="col">ID</th>
	               <th scope="col">WordNet ID</th>
	               <th scope="col">POS</th>
	               <th scope="col">Concept List</th>
	               <th scope="col">Description</th>
	               <th scope="col">Type</th>
	               <th scope="col">Review Status</th>
	            </tr>
	         </thead>
	         <tbody>
	            <tr th:each="concept : ${openRequests}" title="${concept.uri}">
	               <td data-toggle="modal" role="button" data-target="#conceptDetail" id="conceptDetails" th:data-conceptid="${concept.entry.id}" th:text="${concept.entry.word}" style="color: #A34D63; cursor: pointer;"></td>
	               <td th:text="${concept.entry.id}"></td>
	               <td th:text="${concept.entry.wordnetId}"></td>
	               <td th:text="${concept.entry.pos}"></td>
	               <td th:text="${concept.entry.conceptList}"></td>
	               <td th:text="${concept.description}"></td>
	               <td th:text="${concept.type != null} ? ${concept.type.typeName} :''"></td>
	               <td>
	                  <div th:if="${concept.reviewRequest != null}" th:data-request="${concept.reviewRequest.request}" th:data-review-id="${concept.reviewRequest.id}" title="${fn:substring(concept.reviewRequest.request,0,79)}"  class="fa fa-exclamation-triangle" data-toggle="modal" data-target="#requestModal" th:data-concept-id="${concept.reviewRequest.conceptId}"  id="exclamation" ></div>
	               </td>
	            </tr>
	         </tbody>
	      </table>
	   </div>
	   <div class="pagination" id="paginationSection" th:if="${openRequests != null && openRequests.size() > 0}">
	      <ul class="pagination">
	         <li class="page-item" th:classappend="${page == 0} ? disabled : '' ">
	            <span class="page-link" th:data-page="${page - 1}" id="paginationTag">Previous</span>
	         </li>
	         <li class="page-item" th:classappend="${page == 0} ? disabled : '' ">
	            <span class="page-link" th:data-page="0" id="paginationTag">First</span>
	         </li>
	         <li th:each="i: ${#numbers.sequence(0, count-1)}" th:class="page-item" th:classappend="${page == i} ? active: '' ">
	            <span class="page-link" th:data-page="${i}"  id="paginationTag" th:text="${i+1}">
	            <span class="sr-only">(current)</span></span>
	         </li>
	         <li class="page-item" th:classappend="${page+1 == count} ? disabled : '' ">
	            <span class="page-link" th:data-page="${count-1}" id="paginationTag">Last</span>
	         </li>
	         <li class="page-item" th:classappend="${page+1 == count} ? disabled : '' ">
	            <span class="page-link" th:data-page="${page + 1}" id="paginationTag">Next</span>
	         </li>
	      </ul>
	   </div>
	   <input type="hidden" name="reviewId" id="reviewId" value=""/>
	   <input type="hidden" name="conceptId" id="conceptId" value=""/>
	   <div th:insert="layouts/modals/conceptdetails :: conceptdetails"></div>
	   <div th:insert="layouts/modals/resolvereview :: resolverequest"></div>
	</body>
</html>