<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/webapp_2_5.xsd"
	xmlns:web_1="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="conceptpower_ID" version="2.5">
	<display-name>ConceptpowerPlus</display-name>
	<welcome-file-list>
		<welcome-file>faces/LoginView.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Session timeout -->
	<session-config>
		<session-timeout>80</session-timeout>
	</session-config>

	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/faces/auth/welcome.xhtml</location>
	</error-page>

	<!-- REST -->
	<servlet>
		<servlet-name>Concept REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>edu.asu.conceptpower.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Concept REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<!-- FACES -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>


	<context-param>
		<param-name>org.richfaces.enableControlSkinning</param-name>
		<param-value>false</param-value>
	</context-param>

	<!-- Database paths -->
	<context-param>
		<param-name>Db4oDatabasePath</param-name>
		<param-value>C:/Users/prerna/Downloads/eclipse-jee-juno-SR1-win32-x86_64/code</param-value>
	</context-param>
	<context-param>
		<param-name>Db4oWordNetCache</param-name>
		<param-value>wordnetCache.db</param-value>
	</context-param>
	<context-param>
		<param-name>Db4oUsersFilename</param-name>
		<param-value>users.db</param-value>
	</context-param>
	<context-param>
		<param-name>Db4oDictionaryFilename</param-name>
		<param-value>conceptLists.db</param-value>
	</context-param>
	<context-param>
		<param-name>Db4oTypesFilename</param-name>
		<param-value>conceptTypes.db</param-value>
	</context-param>
	<context-param>
		<param-name>WordNetPath</param-name>
		<param-value>C:\Program Files (x86)\WordNet\3.0</param-value>
	</context-param>
	
	<!-- XML/URI stuff -->
	<context-param>
		<param-name>URIPrefix</param-name>
		<param-value>http://www.digitalhps.org/concepts/</param-value>
	</context-param>
	<context-param>
		<param-name>XMLNamespace</param-name>
		<param-value>http://www.digitalhps.org/</param-value>
	</context-param>
	
	<!-- Filters -->
	
	<filter>
		<display-name>UserSessionFilter</display-name>
		<filter-name>UserSessionFilter</filter-name>
		<filter-class>edu.asu.conceptpower.web.UserSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserSessionFilter</filter-name>
		<url-pattern>/faces/auth/*</url-pattern>
		<url-pattern>/auth/*</url-pattern>
	</filter-mapping>
</web-app>