<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <body class="body" layout:fragment="content">
      <div class="addUser conceptType">
         <h3 class="title">Add a new User</h3>
         <form  th:object="${user}" th:action="@{/auth/user/createuser}" method='post'>
            <table class="userAddForm conceptForm">
               <tbody>
                  <tr>
                     <td style="width:40px;">
                        <label for="username" class="formlabel">User name</label>
                     </td>
                     <td>
                        <input type="text" class="form-control" name="username" placeholder="Enter your user name....">
                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:172px;">
                        <label for="fullname" class="formlabel">Full Name</label>
                     </td>
                     <td>
                        <input type="text" class="form-control" name="fullname"  placeholder="Enter your full name....">
                        <div th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></div>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:40px;">
                        <label for="email" class="formlabel">Email Id</label>
                     </td>
                     <td>
                        <input type="email" class="form-control" name="email" placeholder="Enter your email id....">
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:40px;">
                        <label for="isAdmin" class="formlabel">Admin</label>
                     </td>
                     <td>
                        <div class="custom-dropdown">
                           <select th:name="isAdmin">
                              <option th:value="yes" th:text="Yes"></option>
                              <option th:value="no" th:text="No"></option>
                           </select>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:172px;">
                        <label for="password" class="formlabel">Password</label>
                     </td>
                     <td>
                        <input type="password" class="form-control" name="password" placeholder="Atleast 4 characters long....">
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                     </td>
                  </tr>
                  <tr>
                     <td style="width:40px;">
                        <label for="retypedPassword" class="formlabel">Retype Password</label>
                     </td>
                     <td>
                        <input type="password" class="form-control" name="retypedPassword" placeholder="Retype Password....">
                        <div th:if="${#fields.hasErrors('retypedPassword')}" th:errors="*{retypedPassword}"></div>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div class="btnCenter">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="addConceptTypeBtn">
               Create User
               </button>
            </div>
         </form>
      </div>
   </body>
</html>