<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   
   <body class = "body" layout:fragment="content">
   <div class="newConcept">
   	<h1 style="margin-bottom: 20px;">Reset your Password</h1>
		<h3>An email with instructions on how to recover your password has been sent to </h3><div th:text="${email}"></div>
   	</div>
   <div th:insert="layouts/modals/signin :: signin"></div>
   </body>
   
</html>