<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   
   <body class = "body" layout:fragment="content">
   <div class="newConcept">
   	<h1>Reset your Password</h1>

		<p>Please enter the email address to which the recovery email was sent:</p>
		
		<form
			th:object="${emailBackBean}"
			th:action="@{/reset}"
			method='post'>
		    <p>
			Email address: <input type="text" id="email" name="email" class="form-control"/>
		    </p>
		    
		    <p>
			<input type="submit" value="Reset" class="btn btn-outline-success my-2 my-sm-0 mergeConceptBtn" />
		    </p>
		</form>
   	</div>
   <div th:insert="layouts/modals/signin :: signin"></div>
   </body>
   
</html>	