<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   
   <body class = "body" layout:fragment="content">
   <div class="newConcept">
   		<h1 style="margin-bottom: 20px;">Reset your Password</h1>

		<h3 style="margin-bottom: 50px;">Please enter the email address with which you created the account:</h3>
		
		<form
			th:object="${emailBackBean}"
			th:action="@{/emailSent}"
			method='post'>
		    <div>
				<h3>Email address:</h3>
				<input type="text" id="email" name="email" class="form-control"/>
				<th:hidden path="token" />
		    </div>
		    
		    <p>
			<input type="submit" value="Reset" class="btn btn-outline-success my-2 my-sm-0 conceptPowerBtn" />
		    </p>
		</form>
   	</div>
   <div th:insert="layouts/modals/signin :: signin"></div>
   </body>
   
</html>	