<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   
   <body class = "body" layout:fragment="content">
   <div class="newConcept">
		   	<h1>Enter new password</h1>
		
			<h3 style="margin-bottom: 50px;">Please enter a new password below.</h3>
		
		<form class="resetPassForm"
			th:object="${userBacking}"
			th:action="@{/resetComplete}"
			method='post'>
		
			<th:hidden path="username" value="${username}" />
			<th:hidden path="token" value="${token}" />
			<table class="resetPassForm">
				<tr>
					<td>Username:</td>
					<td><!--  <input type="text" class="form-control" name="fullname"  th:value="${userBacking.username}">--></td>
					<td></td>
				</tr>
				<tr>
					<td style="width: 200px;">New password:</td>
					<td><input type="password" name="password" id="password" class="form-control"/></td>
					<td></td>
				</tr>
				<tr>
					<td>Re-type new password:</td>
					<td><input type="password" id="repassword"	name="retypedPassword" class="form-control"/></td>
					<td></td>
				</tr>
			</table>
			<div>
				<input type="submit" value="Reset Password" name="submit" class="btn btn-outline-success my-2 my-sm-0 mergeConceptBtn" />
			</div>
		</form>
	</div>
   	
   
  </body>
   
</html>