<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <body class="body" layout:fragment="content">
         <div class="resultsSection">
            <div class="headerSection">
               <div style="display: block;">
                  <h3 class="titleHeader">User Management</h3>
                  <h4 class="subHeader">See existing users and modify user profiles.</h4>
               </div>
               <a th:href="@{/auth/user/add}"><button class="btn btn-outline-success my-2 my-sm-0 mergeConceptBtn" >
               <i class="fa fa-plus" aria-hidden="true"></i> Add new user
               </button></a>
            </div>
            <div class="headerSection">
               <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Search....." style="width: 200px;">
               <div class="btn-group showDrp">
                  <label for="dropdown">Show </label>
                  <div class="dropdown">
                     <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	                     1
	                     <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4</a></li>
                     </ul>
                  </div>
                  <label for="dropdown">entries </label>
               </div>
            </div>
            <table class="table table-striped resultTable tableStyles" >
               <thead>
                  <tr>
                     <th scope="col"></th>
                     <th scope="col">Name</th>
                     <th scope="col">Username</th>
                     <th scope="col">Email Id</th>
                     <th scope="col">Admin rights</th>
                  </tr>
               </thead>
               <tbody>
               
                  <tr th:each="user : ${users}">
                     <td>
                        <div class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                           <i class="fa fa-pencil-square-o dropright" aria-hidden="true"></i></a>
                           <div class="cardLayout dropdown-menu" role="menu">
                              <div class="card-body">
                                 <a th:href="@{'/auth/user/edituser/'+${user.username}}" class="btn btn-primary" id="editBtn">Edit User</a>
                                 <button class="btn btn-primary deleteBtn" id="deleteBtn" data-toggle="modal" data-target="#deleteButton">Delete</button>
                              </div>
                           </div>
                        </div>
                     </td>
                     <td th:text="${user.username}"></td>
                     <td th:text="${user.fullname}"></td>
                     <td th:text="${user.email}"></td>
                     <td th:text="${user.isAdmin}"></td>
                     
                  </tr>
                  
               </tbody>
            </table>
         </div>
         <div class="pagination">
            <ul class="pagination">
               <li class="page-item disabled">
                  <span class="page-link">Previous</span>
               </li>
               <li class="page-item"><a class="page-link" href="#">1</a></li>
               <li class="page-item active" aria-current="page">
                  <span class="page-link">
                  2
                  <span class="sr-only">(current)</span>
                  </span>
               </li>
               <li class="page-item"><a class="page-link" href="#">3</a></li>
               <li class="page-item">
                  <a class="page-link" href="#">Next</a>
               </li>
            </ul>
         </div>
         <div th:insert="layouts/modals/deleterow :: deleteButton"></div>
   </body>
</html>