<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorate="~{layouts/main}"
   >
   <body class="body" layout:fragment="content">
         <div class="resultsSection">
            <div class="headerSection">
               <div style="display: block;">
                  <h3 class="titleHeader">User Management</h3>
                  <h4 class="subHeader">See existing users and modify user profiles.</h4>
               </div>
               <a th:href="@{/auth/user/add}"><button class="btn btn-outline-success my-2 my-sm-0 mergeConceptBtn" >
               <i class="fa fa-plus" aria-hidden="true"></i> Add new user
               </button></a>
            </div>
            <table class="table table-striped resultTable tableStyles" th:if="${users.length > 0}">
               <thead>
                  <tr>
                     <th scope="col"></th>
                     <th scope="col">Name</th>
                     <th scope="col">Username</th>
                     <th scope="col">Email Id</th>
                     <th scope="col">Admin rights</th>
                  </tr>
               </thead>
               <tbody>
                  <tr th:each="user : ${users}">
                     <td>
                        <div class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                           <i class="fa fa-pencil-square-o dropright" aria-hidden="true"></i></a>
                           <div class="cardLayout dropdown-menu" role="menu">
                              <div class="card-body">
                                 <a th:href="@{'/auth/user/edituser/'+${user.username}}" class="btn btn-primary" id="editBtn">Edit User</a>
                                 <button class="btn btn-primary deleteBtn" id="deleteBtn" data-toggle="modal" data-target="#deleteButton">Delete</button>
                              </div>
                           </div>
                        </div>
                     </td>
                     <td th:text="${user.username}"></td>
                     <td th:text="${user.fullname}"></td>
                     <td th:text="${user.email}"></td>
                     <td th:text="${user.isAdmin}"></td>
                  </tr>
                  
               </tbody>
            </table>
            <div th:if="${users.length <= 0}">No Users exist</div>
         </div>
         <div th:insert="layouts/modals/deleterow :: deleteButton"></div>
   </body>
</html>